{% macro generate_section(name, img, title, titleMain, titleSub, descLeft, descRight) %}
<section class="{{name}}" id="{{name}}">
  <div class="container position-relative">
    <div class="section-wrapper">
      <div class="{{name}}-title-container">
        <div class="{{name}}-title-wrapper">
          <p class="{{name}}-title_subtitle">{{title}}</p>
          <h2 class="{{name}}-title-main">{{titleMain}}</h2>
          <p class="{{name}}-title_desc">
            {{titleSub}}
          </p>
        </div>
      </div>
      <img src="{{img}}" alt="main" class="{{name}}-img" />
    </div>
    <p class="{{name}}-symptoms">
      Как проявляется
    </p>
    <div class="{{name}}-description-wrapper">
      <p class="{{name}}-description">
        {{descLeft}}
      </p>
      <p class="{{name}}-description">
        {{descRight}}
      </p>
    </div>
  </div>
</section>
{% endmacro %}