{% macro generate_section(name, img, title, titleMain, titleSub, descLeft, descRight) %}
<section class="{{name}} position-relative font-neucha" id="{{name}}">
  <div class="container position-relative">
    <div class="section-wrapper d-flex flex-wrap justify-between">
      <div class="{{name}}-title-container">
        <div class="{{name}}-title-wrapper">
          <p class="{{name}}-title-subtitle">{{title}}</p>
          <h2 class="{{name}}-title-main">{{titleMain}}</h2>
          <p class="{{name}}-title-desc">
            {{titleSub}}
          </p>
        </div>
      </div>
      <img src="{{img}}" alt="main" class="{{name}}-img" />
    </div>
    <p class="{{name}}-symptoms font-open-sans">
      Как проявляется
    </p>
    <div class="{{name}}-description-wrapper d-flex">
      <p class="{{name}}-description font-open-sans">
        {{descLeft}}
      </p>
      <p class="{{name}}-description font-open-sans">
        {{descRight}}
      </p>
    </div>
  </div>
</section>
{% endmacro %}