{% extends "layouts/default.njk" %}
{% set base_path = "../" %}
{% set page_title = "Home" %}
{% set page_description = "This is the home page" %}
{% block main %}
{% import "macro/generate-section.njk" as section %}
<main>
  <section class="youtube">
    <div class="container text-center">
      <h2 class="heading-2 mb-30">
        <span class="text-dark d-block">
          Что же это такое,
        </span>
        <span class="text-main d-block">
          когнитивные искажения?
        </span>
      </h2>
      <p class="mb-30">Что такое когнитивные искажения. Petrovna Channel</p>
      <iframe class="youtube-video youtube-video-filter position-relative"
        src="https://www.youtube.com/embed/jie9AizBqss" allowfullscreen></iframe>
    </div>
  </section>
  <section class="position-relative background-main-dark" id="navigation">
    <nav class="container main-menu">
      <div class="row">
        <div class="column-4 py-10">
          <h2 class="card-main-title card-main-title-transparent text-white d-block">
            <span class="text-main">5 когнитивных искажений</span>
            <br>
            о существовании которых стоит помнить
          </h2>
        </div>
        <div class="column-4 py-10">
          <a href="#ikea-effect" class="card card-dark d-block">
            <div class="card-number">1</div>
            <div class="card-title heading-3">Эффект ИКЕА</div>
            <p class="card-description mb-0">
              Вы переоцениваете собственные решения, и, как следствие, недооцениваете решения других.
            </p>
          </a>
        </div>
        <div class="column-4 py-10">
          <a href="#premature-optimization" class="card card-dark d-block">
            <div class="card-number">2</div>
            <div class="card-title heading-3">Преждевременная оптимизация</div>
            <p class="card-description mb-0">
              Вы оптимизируете что-то задолго до того, как в этом появляется необходимость.
            </p>
          </a>
        </div>
        <div class="column-4 py-10">
          <a href="#distortion-of-novelty" class="card card-dark d-block">
            <div class="card-number">3</div>
            <div class="card-title heading-3">Искажение новизны</div>
            <p class="card-description mb-0">
              Вы даёте более высокую оценку тем событиям, которые произошли недавно, и недооцениваете более старые.
            </p>
          </a>
        </div>
        <div class="column-4 py-10">
          <a href="#hyperbolic-depreciation" class="card card-dark d-block">
            <div class="card-number">4</div>
            <div class="card-title heading-3">Гиперболическое обесценивание</div>
            <p class="card-description mb-0">
              Вы гонитесь за немедленной маленькой выгодой и игнорируете более крупную, недоступную сейчас, но доступную
              в
              будущем.
            </p>
          </a>
        </div>
        <div class="column-4 py-10">
          <a href="#errors-in-planning" class="card card-dark d-block">
            <div class="card-number">5</div>
            <div class="card-title heading-3">Ошибка планирования</div>
            <p class="card-description mb-0">
              Неправильно рассчитывать время необходимое для завершения задачи.
            </p>
          </a>
        </div>
      </div>
    </nav>
  </section>
  {{ section.generate_section('ikea-effect', './images/1.png', 'Эффект ИКЕА', 'Вы переоцениваете собственные решения, и, как следствие, недооцениваете решения других.', ['Когнитивное искажение называется так из-за того, что потребители зачастую предпочитают покупать товары, которые они могут собрать сами, а не уже собранные кем-то.'], [' Мы склонны переоцнивать наши собственные решения и недооценивать решения других. Если вы когда-то работали в компании, которая использовала тупой внутренний инструмент вместо более удобного готового решения, вы понимаете, о чём я говорю.'], 'dark', 'brown', 'white', 'prev')}}
  {{ section.generate_section('premature-optimization', './images/2.png', 'Преждевременная оптимизация', 'Вы оптимизируете что-то задолго до того, как в этом появляется необходимость.', ['Если вы добавите аэродинамический спойлер к своему старому автомобилю вместо ремонта мотора, то автомобиль не станет быстрее.'], ['Отличный пример: писать максимально подтюненный и высокопроизводительный код для всего лишь экспериментального проекта.'], 'white', 'white', 'brown', 'next')}}
  {{ section.generate_section('distortion-of-novelty', './images/3.png', 'Искажение новизны', 'Вы даёте более высокую оценку тем событиям, которые произошли недавно, и недооцениваете более старые.',[ 'Часто это искажение настигает нас, когда нужно решение проблемы и… о! Мы как раз только что решили подобную проблему! Давайте использовать это же решение, потому что оно сработало, и мы помним как!'], ['Вы замечаете, что пользуетесь теми же рабочими методиками раз за разом? Если да, возможно, вы смотрите на разные проблемы под одним и тем же углом.'], 'dark', 'brown', 'white', 'prev')}}
  {{ section.generate_section('hyperbolic-depreciation', './images/4.png', 'Гиперболическое обесценивание', 'Вы гонитесь за немедленной маленькой выгодой и игнорируете более крупную, недоступную сейчас, но доступную в будущем.', ['Вы когда-нибудь откладывали написание теста? Ловили себя на использовании клавиш-стрелок в Vim? Поздравляю, у вас наблюдается гиперболическое обесценивание.'], ['Немедленная выгода от использования чего-то быстродоступного значительно смягчает боль, которую нужно перетерпеть, чтобы усвоить правильный синтаксис для перемещения на нужную строчку. Но как только вы поймёте как перемещаться быстрее, выгода в будущем намного выше. В итоге вы сохраните много времени.'], 'white', 'white', 'brown', 'next')}}
  {{ section.generate_section('errors-in-planning', './images/5.png', 'Ошибка планирования', 'Неправильно рассчитывать время необходимое для завершения задачи.', ['Одно из искажений, которое должно признать большинство из нас. И менеджеры проекта, и сами пользователи продукта — все склонны ставить сроки, в которые невозможно закончить запланированное.'], ['Это отлично выражается в старом афоризме:',  'Первые 90% готового кода отнимают первые 90% времени разработки. Оставшиеся 10% отнимают вторые 90% времени разработки.'], 'dark', 'brown', 'white', 'prev')}}
</main>
{% endblock %}