/* line 1, src/styles/utility.scss */
.position-relative {
  position: relative; }

/* line 5, src/styles/utility.scss */
.position-absolute {
  position: absolute; }

/* line 9, src/styles/utility.scss */
.d-flex {
  display: flex; }

/* line 13, src/styles/utility.scss */
.flex-wrap {
  flex-wrap: wrap; }

/* line 17, src/styles/utility.scss */
.justify-center {
  justify-content: center; }

/* line 21, src/styles/utility.scss */
.justify-between {
  justify-content: space-between; }

/* line 25, src/styles/utility.scss */
.flex-column {
  flex-direction: column; }

/* line 29, src/styles/utility.scss */
.align-start {
  align-items: flex-start; }

/* line 33, src/styles/utility.scss */
.align-center {
  align-items: center; }

/* line 37, src/styles/utility.scss */
.mb-05 {
  margin-bottom: 0.5rem; }

/* line 41, src/styles/utility.scss */
.mb-1 {
  margin-bottom: 16px; }

/* line 45, src/styles/utility.scss */
.mt-05 {
  margin-top: 8px; }

/* line 49, src/styles/utility.scss */
.mt-1 {
  margin-top: 16px; }

/* line 53, src/styles/utility.scss */
.link {
  color: #1085c5;
  text-decoration: underline; }

/* line 58, src/styles/utility.scss */
.d-block {
  display: block; }

@font-face {
  font-weight: 400;
  font-family: 'Open Sans Normal';
  font-style: normal;
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype"); }

@font-face {
  font-weight: 400;
  font-family: 'Open Sans Bold';
  font-style: normal;
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype"); }

@font-face {
  font-weight: 400;
  font-family: 'Neucha';
  font-style: normal;
  src: url("../fonts/Neucha.ttf") format("truetype"); }

/* line 22, src/styles/typography.scss */
h1,
h2,
h3 {
  font-weight: 400;
  line-height: 1.2em; }

/* line 29, src/styles/typography.scss */
h1 {
  font-size: 72px; }
  @media screen and (max-width: 550px) {
    /* line 29, src/styles/typography.scss */
    h1 {
      font-size: 40px; } }

/* line 37, src/styles/typography.scss */
h2 {
  font-size: 60px; }
  @media screen and (max-width: 550px) {
    /* line 37, src/styles/typography.scss */
    h2 {
      font-size: 35px; } }

/* line 45, src/styles/typography.scss */
h3 {
  font-size: 25px; }
  @media screen and (max-width: 550px) {
    /* line 45, src/styles/typography.scss */
    h3 {
      font-size: 20px; } }

/* line 53, src/styles/typography.scss */
.font-open-sans {
  font-weight: 400;
  font-family: 'Open Sans Normal', sans-serif; }

/* line 58, src/styles/typography.scss */
.font-neucha {
  font-weight: 400;
  font-family: 'Neucha', serif; }

/* line 63, src/styles/typography.scss */
.text-white {
  color: #fff;
  font-weight: 400; }
  @media screen and (max-width: 550px) {
    /* line 63, src/styles/typography.scss */
    .text-white {
      font-size: 12px;
      text-align: center; } }

/* line 73, src/styles/typography.scss */
.text-blue {
  color: #1085c5; }

/* line 77, src/styles/typography.scss */
.text-dark {
  color: #2a2626; }

/* line 81, src/styles/typography.scss */
.text-main {
  color: #fe8a02; }

/* line 85, src/styles/typography.scss */
.fz-09 {
  font-size: 14px; }

/* line 89, src/styles/typography.scss */
.text-center {
  text-align: center; }

/* line 1, src/styles/global.scss */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #2a2626;
  text-decoration: none;
  border: none; }

/* line 13, src/styles/global.scss */
html {
  height: 100%; }

/* line 17, src/styles/global.scss */
img {
  max-width: 100%; }

/* line 21, src/styles/global.scss */
.container {
  max-width: 1100px;
  margin: 0 auto; }

/* line 1, src/styles/header.scss */
.header {
  overflow: hidden;
  background-color: #f5f4f0; }
  /* line 6, src/styles/header.scss */
  .header::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.06;
    content: ''; }

/* line 22, src/styles/header.scss */
.header-wrapper {
  padding: 100px 0;
  line-height: 1.2; }
  @media screen and (max-width: 1100px) {
    /* line 22, src/styles/header.scss */
    .header-wrapper {
      justify-content: center;
      padding: 50px 15px; } }

/* line 33, src/styles/header.scss */
.title {
  position: relative;
  z-index: 1; }

/* line 38, src/styles/header.scss */
.title-img {
  top: 42px;
  right: -300px; }
  @media screen and (max-width: 1100px) {
    /* line 38, src/styles/header.scss */
    .title-img {
      display: none; } }

@media screen and (max-width: 1100px) {
  /* line 47, src/styles/header.scss */
  .title-wrapper {
    justify-content: center;
    text-align: center; } }

/* line 55, src/styles/header.scss */
.header-description-wrapper {
  margin-top: 225px; }
  @media screen and (max-width: 1100px) {
    /* line 55, src/styles/header.scss */
    .header-description-wrapper {
      margin-top: 100px; } }
  @media screen and (max-width: 650px) {
    /* line 55, src/styles/header.scss */
    .header-description-wrapper {
      flex-wrap: wrap; } }

/* line 67, src/styles/header.scss */
.header-description {
  flex: 1;
  padding: 0 15px;
  line-height: 26px; }
  @media screen and (max-width: 650px) {
    /* line 74, src/styles/header.scss */
    .header-description:nth-child(1) {
      margin-bottom: 10px; } }
  @media screen and (max-width: 550px) {
    /* line 67, src/styles/header.scss */
    .header-description {
      font-size: 12px; } }

/* line 84, src/styles/header.scss */
.btn-title {
  margin-top: 40px;
  padding: 12px 24px; }
  @media screen and (max-width: 650px) {
    /* line 84, src/styles/header.scss */
    .btn-title {
      width: 100%; } }

/* line 93, src/styles/header.scss */
.btn-orange {
  color: #fff;
  font-size: 16px;
  background-color: #fe8a02; }
  @media screen and (max-width: 550px) {
    /* line 93, src/styles/header.scss */
    .btn-orange {
      font-size: 12px; } }

/* line 1, src/styles/main.scss */
.youtube {
  margin: 30px auto;
  padding-top: 100px; }
  /* line 5, src/styles/main.scss */
  .youtube-description {
    margin-top: 27px;
    margin-bottom: -70px; }
    @media screen and (max-width: 550px) {
      /* line 5, src/styles/main.scss */
      .youtube-description {
        font-size: 12px; } }
  /* line 14, src/styles/main.scss */
  .youtube-video {
    top: 100px;
    max-width: 100%; }
    /* line 19, src/styles/main.scss */
    .youtube-video-filter {
      filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15)); }
    @media screen and (max-width: 550px) {
      /* line 14, src/styles/main.scss */
      .youtube-video {
        max-height: 300px; } }
  @media screen and (max-width: 1100px) {
    /* line 1, src/styles/main.scss */
    .youtube {
      padding: 0 30px; } }

/* line 33, src/styles/main.scss */
.main-menu {
  padding: 200px 164px 100px; }
  /* line 36, src/styles/main.scss */
  .main-menu::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: #42413c;
    content: ''; }
  @media screen and (max-width: 1490px) {
    /* line 33, src/styles/main.scss */
    .main-menu {
      padding: 100px 50px; } }
  @media screen and (max-width: 860px) {
    /* line 33, src/styles/main.scss */
    .main-menu {
      padding: 100px 0; } }

/* line 58, src/styles/main.scss */
.card-container {
  max-width: 1200px;
  margin: auto; }

/* line 63, src/styles/main.scss */
.card {
  max-width: 350px;
  height: 348px;
  margin: 15px;
  padding: 24px;
  color: #2a2626;
  background-color: #f5f4f0; }
  /* line 73, src/styles/main.scss */
  .card-number {
    color: inherit;
    font-size: 64px; }
  /* line 78, src/styles/main.scss */
  .card-title {
    color: #fe8a02;
    font-size: 34px; }
  /* line 83, src/styles/main.scss */
  .card-description {
    color: inherit;
    font-size: 16px; }
    @media screen and (max-width: 550px) {
      /* line 83, src/styles/main.scss */
      .card-description {
        font-size: 12px; } }
  /* line 92, src/styles/main.scss */
  .card:hover {
    color: #fff;
    background-color: #fe8a02; }
    /* line 97, src/styles/main.scss */
    .card:hover .card-title {
      color: #fff; }
  @media screen and (max-width: 550px) {
    /* line 63, src/styles/main.scss */
    .card {
      height: auto; } }

/* line 107, src/styles/main.scss */
.card-main-title {
  max-width: 350px;
  height: 348px;
  margin: 15px;
  padding: 0; }
  @media screen and (max-width: 550px) {
    /* line 107, src/styles/main.scss */
    .card-main-title {
      height: auto; } }

/* line 118, src/styles/main.scss */
.card-main-title-transparent {
  font-size: 52px;
  line-height: 1.2;
  background: transparent; }
  @media screen and (max-width: 550px) {
    /* line 118, src/styles/main.scss */
    .card-main-title-transparent {
      font-size: 35px; } }

/* line 2, src/styles/mixin/section.scss */
.ikea-effect {
  padding: 100px 0; }
  @media screen and (max-width: 1100px) {
    /* line 2, src/styles/mixin/section.scss */
    .ikea-effect {
      padding: 50px 0; } }
  /* line 9, src/styles/mixin/section.scss */
  .ikea-effect::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1;
    content: ''; }
  /* line 24, src/styles/mixin/section.scss */
  .ikea-effect::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: #f5f4f0;
    content: ''; }

/* line 38, src/styles/mixin/section.scss */
.ikea-effect-img {
  order: -1;
  max-width: 100%;
  max-height: 405px;
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15)); }

/* line 46, src/styles/mixin/section.scss */
.ikea-effect-symptoms {
  margin-top: 227px;
  padding: 4px;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #b09a81; }
  @media screen and (max-width: 1100px) {
    /* line 46, src/styles/mixin/section.scss */
    .ikea-effect-symptoms {
      margin-top: 100px;
      padding: 4px 15px; } }
  @media screen and (max-width: 550px) {
    /* line 46, src/styles/mixin/section.scss */
    .ikea-effect-symptoms {
      font-size: 12px; } }

@media screen and (max-width: 1100px) {
  /* line 67, src/styles/mixin/section.scss */
  .ikea-effect-title-wrapper {
    margin-bottom: 15px; } }

@media screen and (max-width: 1100px) {
  /* line 73, src/styles/mixin/section.scss */
  .ikea-effect-title-container {
    margin-top: 30px;
    text-align: center; } }

/* line 81, src/styles/mixin/section.scss */
.ikea-effect-subtitle {
  margin-bottom: 8px;
  color: #908d8b;
  font-size: 24px; }

/* line 88, src/styles/mixin/section.scss */
.ikea-effect-title {
  max-width: 540px;
  margin-bottom: 24px;
  color: #2a2626; }
  @media screen and (max-width: 1100px) {
    /* line 88, src/styles/mixin/section.scss */
    .ikea-effect-title {
      margin-bottom: 0; } }

/* line 99, src/styles/mixin/section.scss */
.ikea-effect-desc {
  max-width: 500px;
  color: #2a2626;
  font-size: 34px; }
  @media screen and (max-width: 1100px) {
    /* line 99, src/styles/mixin/section.scss */
    .ikea-effect-desc {
      max-width: auto; } }

/* line 110, src/styles/mixin/section.scss */
.ikea-effect-description-wrapper {
  margin-top: 24px; }
  @media screen and (max-width: 1100px) {
    /* line 110, src/styles/mixin/section.scss */
    .ikea-effect-description-wrapper {
      padding: 0 15px; } }
  @media screen and (max-width: 700px) {
    /* line 110, src/styles/mixin/section.scss */
    .ikea-effect-description-wrapper {
      flex-wrap: wrap; } }

/* line 122, src/styles/mixin/section.scss */
.ikea-effect-description {
  flex: 1;
  color: #2a2626; }
  @media screen and (max-width: 700px) {
    /* line 122, src/styles/mixin/section.scss */
    .ikea-effect-description {
      flex: auto; } }
  /* line 131, src/styles/mixin/section.scss */
  .ikea-effect-description:nth-child(1) {
    margin-right: 30px; }
    @media screen and (max-width: 700px) {
      /* line 135, src/styles/mixin/section.scss */
      .ikea-effect-description:nth-child(1):nth-child(1) {
        margin-right: 0;
        margin-bottom: 10px; } }
  @media screen and (max-width: 550px) {
    /* line 122, src/styles/mixin/section.scss */
    .ikea-effect-description {
      font-size: 12px; } }

/* line 2, src/styles/mixin/section.scss */
.premature-optimization {
  padding: 100px 0; }
  @media screen and (max-width: 1100px) {
    /* line 2, src/styles/mixin/section.scss */
    .premature-optimization {
      padding: 50px 0; } }
  /* line 9, src/styles/mixin/section.scss */
  .premature-optimization::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1;
    content: ''; }
  /* line 24, src/styles/mixin/section.scss */
  .premature-optimization::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: #b09a81;
    content: ''; }

/* line 38, src/styles/mixin/section.scss */
.premature-optimization-img {
  order: 1;
  max-width: 100%;
  max-height: 405px;
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15)); }

/* line 46, src/styles/mixin/section.scss */
.premature-optimization-symptoms {
  margin-top: 161px;
  padding: 4px;
  color: #2a2626;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #fff; }
  @media screen and (max-width: 1100px) {
    /* line 46, src/styles/mixin/section.scss */
    .premature-optimization-symptoms {
      margin-top: 100px;
      padding: 4px 15px; } }
  @media screen and (max-width: 550px) {
    /* line 46, src/styles/mixin/section.scss */
    .premature-optimization-symptoms {
      font-size: 12px; } }

@media screen and (max-width: 1100px) {
  /* line 67, src/styles/mixin/section.scss */
  .premature-optimization-title-wrapper {
    margin-bottom: 15px; } }

@media screen and (max-width: 1100px) {
  /* line 73, src/styles/mixin/section.scss */
  .premature-optimization-title-container {
    margin-top: 30px;
    text-align: center; } }

/* line 81, src/styles/mixin/section.scss */
.premature-optimization-subtitle {
  margin-bottom: 8px;
  color: #d7ccc0;
  font-size: 24px; }

/* line 88, src/styles/mixin/section.scss */
.premature-optimization-title {
  max-width: 540px;
  margin-bottom: 24px;
  color: #fff; }
  @media screen and (max-width: 1100px) {
    /* line 88, src/styles/mixin/section.scss */
    .premature-optimization-title {
      margin-bottom: 0; } }

/* line 99, src/styles/mixin/section.scss */
.premature-optimization-desc {
  max-width: 500px;
  color: #fff;
  font-size: 34px; }
  @media screen and (max-width: 1100px) {
    /* line 99, src/styles/mixin/section.scss */
    .premature-optimization-desc {
      max-width: auto; } }

/* line 110, src/styles/mixin/section.scss */
.premature-optimization-description-wrapper {
  margin-top: 24px; }
  @media screen and (max-width: 1100px) {
    /* line 110, src/styles/mixin/section.scss */
    .premature-optimization-description-wrapper {
      padding: 0 15px; } }
  @media screen and (max-width: 700px) {
    /* line 110, src/styles/mixin/section.scss */
    .premature-optimization-description-wrapper {
      flex-wrap: wrap; } }

/* line 122, src/styles/mixin/section.scss */
.premature-optimization-description {
  flex: 1;
  color: #fff; }
  @media screen and (max-width: 700px) {
    /* line 122, src/styles/mixin/section.scss */
    .premature-optimization-description {
      flex: auto; } }
  /* line 131, src/styles/mixin/section.scss */
  .premature-optimization-description:nth-child(1) {
    margin-right: 30px; }
    @media screen and (max-width: 700px) {
      /* line 135, src/styles/mixin/section.scss */
      .premature-optimization-description:nth-child(1):nth-child(1) {
        margin-right: 0;
        margin-bottom: 10px; } }
  @media screen and (max-width: 550px) {
    /* line 122, src/styles/mixin/section.scss */
    .premature-optimization-description {
      font-size: 12px; } }

/* line 2, src/styles/mixin/section.scss */
.distortion-of-novelty {
  padding: 100px 0; }
  @media screen and (max-width: 1100px) {
    /* line 2, src/styles/mixin/section.scss */
    .distortion-of-novelty {
      padding: 50px 0; } }
  /* line 9, src/styles/mixin/section.scss */
  .distortion-of-novelty::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1;
    content: ''; }
  /* line 24, src/styles/mixin/section.scss */
  .distortion-of-novelty::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: #f5f4f0;
    content: ''; }

/* line 38, src/styles/mixin/section.scss */
.distortion-of-novelty-img {
  order: -1;
  max-width: 100%;
  max-height: 405px;
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15)); }

/* line 46, src/styles/mixin/section.scss */
.distortion-of-novelty-symptoms {
  margin-top: 227px;
  padding: 4px;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #b09a81; }
  @media screen and (max-width: 1100px) {
    /* line 46, src/styles/mixin/section.scss */
    .distortion-of-novelty-symptoms {
      margin-top: 100px;
      padding: 4px 15px; } }
  @media screen and (max-width: 550px) {
    /* line 46, src/styles/mixin/section.scss */
    .distortion-of-novelty-symptoms {
      font-size: 12px; } }

@media screen and (max-width: 1100px) {
  /* line 67, src/styles/mixin/section.scss */
  .distortion-of-novelty-title-wrapper {
    margin-bottom: 15px; } }

@media screen and (max-width: 1100px) {
  /* line 73, src/styles/mixin/section.scss */
  .distortion-of-novelty-title-container {
    margin-top: 30px;
    text-align: center; } }

/* line 81, src/styles/mixin/section.scss */
.distortion-of-novelty-subtitle {
  margin-bottom: 8px;
  color: #908d8b;
  font-size: 24px; }

/* line 88, src/styles/mixin/section.scss */
.distortion-of-novelty-title {
  max-width: 540px;
  margin-bottom: 24px;
  color: #2a2626; }
  @media screen and (max-width: 1100px) {
    /* line 88, src/styles/mixin/section.scss */
    .distortion-of-novelty-title {
      margin-bottom: 0; } }

/* line 99, src/styles/mixin/section.scss */
.distortion-of-novelty-desc {
  max-width: 500px;
  color: #2a2626;
  font-size: 34px; }
  @media screen and (max-width: 1100px) {
    /* line 99, src/styles/mixin/section.scss */
    .distortion-of-novelty-desc {
      max-width: auto; } }

/* line 110, src/styles/mixin/section.scss */
.distortion-of-novelty-description-wrapper {
  margin-top: 24px; }
  @media screen and (max-width: 1100px) {
    /* line 110, src/styles/mixin/section.scss */
    .distortion-of-novelty-description-wrapper {
      padding: 0 15px; } }
  @media screen and (max-width: 700px) {
    /* line 110, src/styles/mixin/section.scss */
    .distortion-of-novelty-description-wrapper {
      flex-wrap: wrap; } }

/* line 122, src/styles/mixin/section.scss */
.distortion-of-novelty-description {
  flex: 1;
  color: #2a2626; }
  @media screen and (max-width: 700px) {
    /* line 122, src/styles/mixin/section.scss */
    .distortion-of-novelty-description {
      flex: auto; } }
  /* line 131, src/styles/mixin/section.scss */
  .distortion-of-novelty-description:nth-child(1) {
    margin-right: 30px; }
    @media screen and (max-width: 700px) {
      /* line 135, src/styles/mixin/section.scss */
      .distortion-of-novelty-description:nth-child(1):nth-child(1) {
        margin-right: 0;
        margin-bottom: 10px; } }
  @media screen and (max-width: 550px) {
    /* line 122, src/styles/mixin/section.scss */
    .distortion-of-novelty-description {
      font-size: 12px; } }

/* line 2, src/styles/mixin/section.scss */
.hyperbolic-depreciation {
  padding: 100px 0; }
  @media screen and (max-width: 1100px) {
    /* line 2, src/styles/mixin/section.scss */
    .hyperbolic-depreciation {
      padding: 50px 0; } }
  /* line 9, src/styles/mixin/section.scss */
  .hyperbolic-depreciation::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1;
    content: ''; }
  /* line 24, src/styles/mixin/section.scss */
  .hyperbolic-depreciation::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: #b09a81;
    content: ''; }

/* line 38, src/styles/mixin/section.scss */
.hyperbolic-depreciation-img {
  order: 1;
  max-width: 100%;
  max-height: 405px;
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15)); }

/* line 46, src/styles/mixin/section.scss */
.hyperbolic-depreciation-symptoms {
  margin-top: 161px;
  padding: 4px;
  color: #2a2626;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #fff; }
  @media screen and (max-width: 1100px) {
    /* line 46, src/styles/mixin/section.scss */
    .hyperbolic-depreciation-symptoms {
      margin-top: 100px;
      padding: 4px 15px; } }
  @media screen and (max-width: 550px) {
    /* line 46, src/styles/mixin/section.scss */
    .hyperbolic-depreciation-symptoms {
      font-size: 12px; } }

@media screen and (max-width: 1100px) {
  /* line 67, src/styles/mixin/section.scss */
  .hyperbolic-depreciation-title-wrapper {
    margin-bottom: 15px; } }

@media screen and (max-width: 1100px) {
  /* line 73, src/styles/mixin/section.scss */
  .hyperbolic-depreciation-title-container {
    margin-top: 30px;
    text-align: center; } }

/* line 81, src/styles/mixin/section.scss */
.hyperbolic-depreciation-subtitle {
  margin-bottom: 8px;
  color: #d7ccc0;
  font-size: 24px; }

/* line 88, src/styles/mixin/section.scss */
.hyperbolic-depreciation-title {
  max-width: 540px;
  margin-bottom: 24px;
  color: #fff; }
  @media screen and (max-width: 1100px) {
    /* line 88, src/styles/mixin/section.scss */
    .hyperbolic-depreciation-title {
      margin-bottom: 0; } }

/* line 99, src/styles/mixin/section.scss */
.hyperbolic-depreciation-desc {
  max-width: 500px;
  color: #fff;
  font-size: 34px; }
  @media screen and (max-width: 1100px) {
    /* line 99, src/styles/mixin/section.scss */
    .hyperbolic-depreciation-desc {
      max-width: auto; } }

/* line 110, src/styles/mixin/section.scss */
.hyperbolic-depreciation-description-wrapper {
  margin-top: 24px; }
  @media screen and (max-width: 1100px) {
    /* line 110, src/styles/mixin/section.scss */
    .hyperbolic-depreciation-description-wrapper {
      padding: 0 15px; } }
  @media screen and (max-width: 700px) {
    /* line 110, src/styles/mixin/section.scss */
    .hyperbolic-depreciation-description-wrapper {
      flex-wrap: wrap; } }

/* line 122, src/styles/mixin/section.scss */
.hyperbolic-depreciation-description {
  flex: 1;
  color: #fff; }
  @media screen and (max-width: 700px) {
    /* line 122, src/styles/mixin/section.scss */
    .hyperbolic-depreciation-description {
      flex: auto; } }
  /* line 131, src/styles/mixin/section.scss */
  .hyperbolic-depreciation-description:nth-child(1) {
    margin-right: 30px; }
    @media screen and (max-width: 700px) {
      /* line 135, src/styles/mixin/section.scss */
      .hyperbolic-depreciation-description:nth-child(1):nth-child(1) {
        margin-right: 0;
        margin-bottom: 10px; } }
  @media screen and (max-width: 550px) {
    /* line 122, src/styles/mixin/section.scss */
    .hyperbolic-depreciation-description {
      font-size: 12px; } }

/* line 2, src/styles/mixin/section.scss */
.errors-in-planning {
  padding: 100px 0; }
  @media screen and (max-width: 1100px) {
    /* line 2, src/styles/mixin/section.scss */
    .errors-in-planning {
      padding: 50px 0; } }
  /* line 9, src/styles/mixin/section.scss */
  .errors-in-planning::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1;
    content: ''; }
  /* line 24, src/styles/mixin/section.scss */
  .errors-in-planning::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: #f5f4f0;
    content: ''; }

/* line 38, src/styles/mixin/section.scss */
.errors-in-planning-img {
  order: -1;
  max-width: 100%;
  max-height: 405px;
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15)); }

/* line 46, src/styles/mixin/section.scss */
.errors-in-planning-symptoms {
  margin-top: 227px;
  padding: 4px;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #b09a81; }
  @media screen and (max-width: 1100px) {
    /* line 46, src/styles/mixin/section.scss */
    .errors-in-planning-symptoms {
      margin-top: 100px;
      padding: 4px 15px; } }
  @media screen and (max-width: 550px) {
    /* line 46, src/styles/mixin/section.scss */
    .errors-in-planning-symptoms {
      font-size: 12px; } }

@media screen and (max-width: 1100px) {
  /* line 67, src/styles/mixin/section.scss */
  .errors-in-planning-title-wrapper {
    margin-bottom: 15px; } }

@media screen and (max-width: 1100px) {
  /* line 73, src/styles/mixin/section.scss */
  .errors-in-planning-title-container {
    margin-top: 30px;
    text-align: center; } }

/* line 81, src/styles/mixin/section.scss */
.errors-in-planning-subtitle {
  margin-bottom: 8px;
  color: #908d8b;
  font-size: 24px; }

/* line 88, src/styles/mixin/section.scss */
.errors-in-planning-title {
  max-width: 540px;
  margin-bottom: 24px;
  color: #2a2626; }
  @media screen and (max-width: 1100px) {
    /* line 88, src/styles/mixin/section.scss */
    .errors-in-planning-title {
      margin-bottom: 0; } }

/* line 99, src/styles/mixin/section.scss */
.errors-in-planning-desc {
  max-width: 500px;
  color: #2a2626;
  font-size: 34px; }
  @media screen and (max-width: 1100px) {
    /* line 99, src/styles/mixin/section.scss */
    .errors-in-planning-desc {
      max-width: auto; } }

/* line 110, src/styles/mixin/section.scss */
.errors-in-planning-description-wrapper {
  margin-top: 24px; }
  @media screen and (max-width: 1100px) {
    /* line 110, src/styles/mixin/section.scss */
    .errors-in-planning-description-wrapper {
      padding: 0 15px; } }
  @media screen and (max-width: 700px) {
    /* line 110, src/styles/mixin/section.scss */
    .errors-in-planning-description-wrapper {
      flex-wrap: wrap; } }

/* line 122, src/styles/mixin/section.scss */
.errors-in-planning-description {
  flex: 1;
  color: #2a2626; }
  @media screen and (max-width: 700px) {
    /* line 122, src/styles/mixin/section.scss */
    .errors-in-planning-description {
      flex: auto; } }
  /* line 131, src/styles/mixin/section.scss */
  .errors-in-planning-description:nth-child(1) {
    margin-right: 30px; }
    @media screen and (max-width: 700px) {
      /* line 135, src/styles/mixin/section.scss */
      .errors-in-planning-description:nth-child(1):nth-child(1) {
        margin-right: 0;
        margin-bottom: 10px; } }
  @media screen and (max-width: 550px) {
    /* line 122, src/styles/mixin/section.scss */
    .errors-in-planning-description {
      font-size: 12px; } }

@media screen and (max-width: 1100px) {
  /* line 135, src/styles/main.scss */
  .section-wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center; } }

/* line 1, src/styles/footer.scss */
.footer-form {
  align-self: center;
  padding: 55px 52px; }
  @media screen and (max-width: 930px) {
    /* line 1, src/styles/footer.scss */
    .footer-form {
      justify-content: center; } }

/* line 10, src/styles/footer.scss */
.footer-form-main-dark {
  background-color: #42413c; }

/* line 14, src/styles/footer.scss */
.footer-question {
  max-width: 393px; }
  @media screen and (max-width: 550px) {
    /* line 14, src/styles/footer.scss */
    .footer-question {
      text-align: center; } }

/* line 22, src/styles/footer.scss */
.footer-question-white {
  color: #fff;
  font-size: 36px; }
  @media screen and (max-width: 550px) {
    /* line 22, src/styles/footer.scss */
    .footer-question-white {
      font-size: 20px; } }

/* line 32, src/styles/footer.scss */
.footer-form-email-white {
  color: #fff;
  font-weight: 400;
  font-size: 18px; }
  @media screen and (max-width: 550px) {
    /* line 32, src/styles/footer.scss */
    .footer-form-email-white {
      font-size: 12px;
      text-align: center; } }

/* line 43, src/styles/footer.scss */
.footer-form-input {
  min-width: 334px;
  padding: 10px; }
  @media screen and (max-width: 550px) {
    /* line 43, src/styles/footer.scss */
    .footer-form-input {
      font-size: 12px; } }
  /* line 51, src/styles/footer.scss */
  .footer-form-input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #000;
    font-size: 10px;
    opacity: 0.2; }
  /* line 58, src/styles/footer.scss */
  .footer-form-input::-moz-placeholder {
    /* Firefox 19+ */
    color: #000;
    font-size: 10px;
    opacity: 0.2; }
  /* line 65, src/styles/footer.scss */
  .footer-form-input:-ms-input-placeholder {
    /* IE 10+ */
    color: #000;
    font-size: 10px;
    opacity: 0.2; }
  /* line 72, src/styles/footer.scss */
  .footer-form-input:-moz-placeholder {
    /* Firefox 18- */
    color: #000;
    font-size: 10px;
    opacity: 0.2; }
  @media screen and (max-width: 550px) {
    /* line 43, src/styles/footer.scss */
    .footer-form-input {
      min-width: 250px;
      max-width: 100%; } }
  @media screen and (max-width: 400px) {
    /* line 43, src/styles/footer.scss */
    .footer-form-input {
      min-width: auto; } }

/* line 89, src/styles/footer.scss */
.footer-form-input-img {
  padding: 14px 26px; }
  @media screen and (max-width: 550px) {
    /* line 89, src/styles/footer.scss */
    .footer-form-input-img {
      padding: 10px 20px; } }

/* line 97, src/styles/footer.scss */
.footer-form-input-img-bg-main {
  background-color: #fe8a02; }

/* line 101, src/styles/footer.scss */
.footer-copyright {
  padding: 100px 0; }
  @media screen and (max-width: 1100px) {
    /* line 101, src/styles/footer.scss */
    .footer-copyright {
      padding: 50px 0; } }
  @media screen and (max-width: 550px) {
    /* line 101, src/styles/footer.scss */
    .footer-copyright {
      font-size: 12px;
      text-align: center; } }

/*# sourceMappingURL=../../sass */