@mixin section($name, $bgColor, $subtitleColor, $titleColor, $sympColor, $sympBgColor, $side, $order) {
  .#{$name} {
    padding: 100px 0;

    @media screen and (max-width: 1100px) {
      padding: 50px 0;
    }

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      background-image: url('../images/background.png');
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0.1;

      content: '';
    }

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;

      background-color: $bgColor;

      content: '';
    }
  }

  .#{$name}-img {
    order: $order;
    max-width: 100%;
    max-height: 405px;

    filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
  }

  .#{$name}-symptoms {
    // margin-top: $marginSymp;
    margin-top: 100px;
    padding: 4px;

    @media screen and (max-width: 1100px) {
      margin-top: 100px;
      padding: 4px 15px;
    }

    @media screen and (max-width: 550px) {
      font-size: 12px;
    }
  }

  .#{$name}-symptoms-background {

    color: $sympColor;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;

    background-color: $sympBgColor;
  }

  .#{$name}-title-wrapper {
    @media screen and (max-width: 1100px) {
      margin-bottom: 15px;
    }
  }

  .#{$name}-title-container {
    @media screen and (max-width: 1100px) {
      margin-top: 30px;

      text-align: center;
    }
  }

  .#{$name}-subtitle {
    margin-bottom: 8px;

    color: $subtitleColor;
    font-size: 24px;
  }

  .#{$name}-title {
    max-width: 540px;
    margin-bottom: 24px;

    @media screen and (max-width: 1100px) {
      margin-bottom: 0;
    }
  }

  .#{$name}-title-colored {
    color: $titleColor;
  }

  .#{$name}-desc {
    max-width: 500px;

    @media screen and (max-width: 1100px) {
      max-width: auto;
    }
  }

  .#{$name}-desc-colored {
    color: $titleColor;
    font-size: 34px;
  }

  .#{$name}-description-wrapper {
    margin: 20px -30px 0;

    @media screen and (max-width: 1100px) {
      margin: 10px -15px 0;
      padding: 0 15px;
    }

    @media screen and (max-width: 700px) {
      flex-wrap: wrap;
    }
  }

  .#{$name}-description {
    flex: 1;

    padding: 0 30px;

    color: $titleColor;

    @media screen and (max-width: 700px) {
      flex: auto;
      padding: 0;
    }

    &:nth-child(1) {
      @media screen and (max-width: 700px) {
        &:nth-child(1) {
          margin-right: 0;
          margin-bottom: 10px;
        }
      }
    }

    @media screen and (max-width: 550px) {
      font-size: 12px;
    }
  }
}
