.footer-form-container {
  padding: 38px 55px 40px;
}

.footer-form-main-dark {
  background-color: $main-dark;
}

.footer-question {
  max-width: 393px;
  margin-right: 122px;
}

.footer-question-white {
  color: $color-white;
  font-size: 34px;
  line-height: 40.8px;
}

.footer-form-email-white {
  margin-bottom: 9px;

  color: $color-white;
  font-weight: 400;
  font-size: 18px;
  line-height: 28.8px;
}

.footer-form-input {
  min-width: 399px;
  padding: 10px;

  border: 0;

  @media screen and (max-width: 550px) {
    font-size: 12px;
  }

  &::placeholder { /* Firefox 19+ */
    color: #757575;
    font-size: 13px;

    opacity: 0.2;
  }
}

.btn-send {
  padding: 15px 23px;

  color: $color-white;
  font-size: 20px;

  background-color: $main;
  border: 0;

  &::before {
    display: inline-block;
    width: 20px;
    height: 20px;

    background-image: url('../images/send.svg');
    background-repeat: no-repeat;
    background-size: 20px 20px;

    content: '';
  }
}

.footer-form-input-img {
  padding: 15px 21px;
}

.footer-form-input-img-bg-main {
  background-color: $main;
  border-style: none !important;
  outline: none;
}

.footer-subscribe {
  font-size: 12px;
  font-style: normal;
  line-height: 25px;
}

.footer-material {
  line-height: 25px;
}

.footer-copyright {
  margin-top: 76px;

  font-size: 14px;
  line-height: 22.4px;
}
