* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;

  font-weight: 400;

  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  line-height: 25.6px;
}

h1,
h2,
h3 {
  margin: 0;
}

header,
footer,
section {
  padding: 100px 0;
}

img {
  max-width: 100%;
  height: auto;
}
