.header {

  background-color: $light;
  overflow: hidden;

  &::before {

    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;

    content: '';
    left: 0;
    opacity: 0.06;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.header-wrapper {

  line-height: 1.2;
  padding: 100px 0;

  @media screen and (max-width: 1100px) {
    justify-content: center;
    padding: 50px 15px;
  }
}

.title {

  line-height: 88px;

  margin: 0;
  position: relative;
  z-index: 1;
}

.title-img {

  height: 525px;
  right: -270px;
  top: 55px;

  @media screen and (max-width: 1100px) {
    display: none;
  }
}

.title-wrapper {
  @media screen and (max-width: 1100px) {
    justify-content: center;

    text-align: center;
  }
}

.header-description-wrapper {
  margin: 185px -15px 0;

  @media screen and (max-width: 1100px) {
    margin-top: 100px;
  }

  @media screen and (max-width: 650px) {
    display: block;
  }
}

.header-description {

  color: $dark;
  line-height: 25.6px;
  margin: 0;

  @media screen and (max-width: 650px) {
    &:nth-child(1) {
      margin-bottom: 10px;
    }
  }

  @media screen and (max-width: 550px) {
    font-size: 12px;
  }
}

.btn-title {
  margin-top: 40px;
  max-width: 148px;
  padding: 12px 24px;

  @media screen and (max-width: 650px) {
    width: 100%;
  }
}

.btn-orange {

  background-color: $main;
  color: $color-white;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;

  @media screen and (max-width: 650px) {
    text-align: center;
  }
}
