.header {
  overflow: hidden;

  background-color: $light;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.06;

    content: '';
  }
}

.title {
  position: relative;
  z-index: 1;

  margin: 0;
}

.title-img {
  top: -55px;
  right: -270px;

  height: 525px;

  @media screen and (max-width: 1100px) {
    display: none;
  }
}

.title-wrapper {
  @media screen and (max-width: 1100px) {
    justify-content: center;

    text-align: center;
  }
}

.header-description-wrapper {
  margin: 185px -15px 0;

  @media screen and (max-width: 1100px) {
    margin-top: 100px;
  }

  @media screen and (max-width: 650px) {
    display: block;
  }
}

.header-description {
  margin: 0;

  color: $dark;
  line-height: 25.6px;

  @media screen and (max-width: 650px) {
    &:nth-child(1) {
      margin-bottom: 10px;
    }
  }

  @media screen and (max-width: 550px) {
    font-size: 12px;
  }
}

.btn-title {
  max-width: 148px;
  margin-top: 40px;
  padding: 12px 24px;

  @media screen and (max-width: 650px) {
    width: 100%;
  }
}

.btn-orange {
  color: $color-white;
  font-size: 16px;
  font-family: 'Open Sans Bold', sans-serif;
  text-transform: uppercase;
  text-decoration: none;

  background-color: $main;

  @media screen and (max-width: 650px) {
    text-align: center;
  }
}
