.youtube {
  padding-top: 100px;

  &-description {
    margin: 0 0 30px;

    @media screen and (max-width: 550px) {
      font-size: 12px;
    }
  }

  &-video {
    height: 569px;

    max-width: 100%;
    top: 100px;

    @media screen and (max-width: 550px) {
      max-height: 300px;
    }
  }

  &-video-filter {

    border: 0;
    filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
    margin-top: -100px;
    width: 919px;
  }

  @media screen and (max-width: 1100px) {
    padding: 0 30px;
  }
}

.youtube-title {

  line-height: 72px;
  margin: 0 0 30px;
}

.main-menu {
  padding: 200px 0 100px;
  width: 100%;

  &::before {

    background-color: $main-dark;
    bottom: 0;

    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }
}

.card {
  height: 100%;
  padding: 24px;

  &-number {
    color: inherit;
    font-size: 64px;
    line-height: 70.5px;
  }

  &-title {

    color: $main;
    font-size: 34px;

    line-height: 40.8px;
    margin-top: 40px;
  }

  &-description {
    color: inherit;
    font-size: 16px;

    @media screen and (max-width: 550px) {
      font-size: 12px;
    }
  }

  &:hover {
    background-color: $main;
    color: $color-white;
  }

  &:hover .card-title {
    color: $color-white;
  }

  @media screen and (max-width: 550px) {
    height: auto;
  }
}

.card-dark {

  background-color: $light;
  color: $dark;
  text-decoration: none;
}

.card-main-title {
  margin: 0;
  padding: 0;

  @media screen and (max-width: 550px) {
    height: auto;
  }
}

.card-main-title-transparent {

  background: transparent;
  font-size: 52px;
  line-height: 1.2;

  @media screen and (max-width: 550px) {
    font-size: 35px;
  }
}

.section-wrapper {
  @media screen and (max-width: 1100px) {
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.section-description-wrapper {
  margin-top: 20px;

  @media screen and (max-width: 1100px) {
    margin: 10px -15px 0;
    padding: 0 15px;
  }

  @media screen and (max-width: 700px) {
    flex-wrap: wrap;
  }
}

.section-description {
  margin: 0;

  @media screen and (max-width: 700px) {
    flex: auto;
    padding: 0;
  }

  &:nth-child(1) {
    @media screen and (max-width: 700px) {
      &:nth-child(1) {
        margin-bottom: 10px;
        margin-right: 0;
      }
    }
  }

  @media screen and (max-width: 550px) {
    font-size: 12px;
  }
}

.section-desc-typo {
  font-size: 34px;
  line-height: 40.8px;
}

.section-desc {

  line-height: 40.8px;
  margin: 0;

  @media screen and (max-width: 1100px) {
    max-width: none;
  }
}

.section-title-typo {
  line-height: 72px;
}

.section-title {
  margin: 0 0 30px;

  @media screen and (max-width: 1100px) {
    margin-bottom: 0;
  }
}

.section-subtitle {
  margin: 0;
}

.section-subtitle-typo {
  font-size: 24px;
  line-height: 28.8px;
}

.section-title-wrapper {
  @media screen and (max-width: 1100px) {
    margin-bottom: 15px;
  }
}

.section-title-container {
  max-width: 502px;

  @media screen and (max-width: 1100px) {
    margin-top: 30px;

    text-align: center;
  }
}

.section-symptoms {
  padding: 5px 10px;

  @media screen and (max-width: 1100px) {
    margin-top: 100px;
    padding: 4px 15px;
  }

  @media screen and (max-width: 550px) {
    font-size: 12px;
  }
}

.section-symptoms-typo {
  font-size: 14px;
  line-height: 16.8px;
  text-transform: uppercase;
}

.section-img {

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
  max-width: 100%;
}

.section {

  line-height: 25.6px;
  padding: 100px 0;

  @media screen and (max-width: 1100px) {
    padding: 50px 0;
  }

  &::before {

    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;

    content: '';
    left: 0;
    opacity: 0.1;
    position: absolute;
    right: 0;
    top: 0;
  }

  &::after {
    bottom: 0;

    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }
}
