.youtube {
  &-video {
    top: 200px;

    margin-top: -200px;
  }

  &-video-filter {
    z-index: 1;

    width: 919px;
    height: 569px;

    border: 0;
    filter: $shadow-img;
  }
}

.main-menu {
  width: 100%;
  padding-top: 90px;
}

.card {
  height: 100%;
  padding: 24px;

  &-number {
    color: inherit;
    font-size: 64px;
    font-family: 'Neucha', cursive;
    line-height: 70.5px;
  }

  &-title {
    margin-top: 40px;

    color: $main;
  }

  &:hover {
    color: $color-white;

    background-color: $main;
  }

  &:hover .card-title {
    color: $color-white;
  }
}

.card-dark {
  color: $dark;
  text-decoration: none;

  background-color: $light;
}

.card-main-title {
  margin: 0;
  padding: 0;
}

.card-main-title-transparent {
  font-size: 52px;
  line-height: 1.2;

  background: transparent;
}

.section-title {
  margin: 0 0 30px;
}

.section-subtitle {
  margin: 0;
}

.section-title-container {
  max-width: 502px;
}

.section-symptoms {
  padding: 5px 10px;
}

.section-symptoms-typo {
  font-weight: 700;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  line-height: 16.8px;
  text-transform: uppercase;
}

.section-img {
  max-width: 100%;

  filter: $shadow-img;
}

.section {
  padding: 100px 0;

  line-height: 25.6px;

  @media screen and (max-width: 1100px) {
    padding: 50px 0;
  }

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1;

    content: '';
  }
}
