
@font-face {
  font-family: 'Open Sans Normal';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans Bold';
  font-style: normal;
  src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Neucha';
  font-style: normal;
  src: url('../fonts/Neucha-Regular.ttf') format('truetype');
}

h1,
h2,
h3 {
  font-family: 'Neucha', sans-serif;

  font-weight: 400;
  margin: 0;
}

h1 {
  font-size: 72px;
  line-height: 86.4px;

  @media screen and (max-width: 550px) {
    font-size: 40px;
  }
}

h2 {
  color: $main;
  font-size: 60px;
  line-height: 66px;

  @media screen and (max-width: 550px) {
    font-size: 35px;
  }
}

h3 {
  font-size: 34px;
  line-height: 40.8px;

  @media screen and (max-width: 550px) {
    font-size: 20px;
  }
}

.subtitle {
  font-size: 24px;
  font-family: 'Neucha', sans-serif;
  line-height: 28.8px;
}

.font-open-sans {
  font-family: 'Open Sans Normal', sans-serif;
}

.font-open-sans-bold {
  font-family: 'Open Sans Bold', sans-serif;
}

.font-neucha {
  font-family: 'Neucha', serif;
}

.text-white {
  color: $color-white;

  @media screen and (max-width: 550px) {
    font-size: 12px;
    text-align: center;
  }
}

.text-blue {
  color: $blue;
}

.text-brown {
  color: $brown;
}

.text-dark {
  color: $dark;
}

.text-translucent-white {
  color: $translucent-white;
}

.text-translucent-dark {
  color: $translucent-dark;
}

.text-main {
  color: $main;
}

.fz-09 {
  font-size: 14px;
}

.text-center {
  text-align: center;
}
