@font-face {
  font-family: 'Neucha';
  font-style: normal;
  src:
    url('../fonts/Neucha-Regular.woff2') format('woff2'),
    url('../fonts/Neucha-Regular.woff') format('woff'),;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  src:
    url('../fonts/OpenSans-Regular.woff2') format('woff2'),
    url('../fonts/OpenSans-Regular.woff') format('woff'),;
}

body {
  margin: 0;

  font-size: 16px;

  font-family: 'Open Sans Normal', sans-serif;
  line-height: 25.6px;
}

h1,
h2,
h3 {
  margin: 0;
}

h1,
.heading-1 {
  font-weight: 400;
  font-size: 72px;
  font-family: 'Neucha', cursive;
  line-height: 1.2;
}

h2,
.heading-2 {
  font-weight: 400;
  font-size: 60px;
  font-family: 'Neucha', cursive;
  line-height: 1.1;
}

h3,
.heading-3 {
  font-weight: 400;
  font-size: 34px;
  font-family: 'Neucha', cursive;
  line-height: 1.2;
}

.subheader {
  font-weight: 400;
  font-size: 24px;
  font-family: 'Neucha', cursive;
  line-height: 1.2;
}

.text-white {
  color: $color-white;
}

.text-blue {
  color: $blue;
}

.text-brown {
  color: $brown;
}

.text-dark {
  color: $dark;
}

.text-translucent-white {
  color: $translucent-white;
}

.text-translucent-dark {
  color: $translucent-dark;
}

.text-main {
  color: $main;
}

.fz-09 {
  font-size: 14px;
}

.text-center {
  text-align: center;
}
