.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.d-flex {
  display: flex;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.column {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  padding: 0 15px;
}

.column-6 {
  flex-basis: 50%;
  flex-grow: 0;
  flex-shrink: 0;
  max-width: 50%;
  padding: 0 15px;
}

.column-4 {
  flex-basis: 33.33333%;
  flex-grow: 0;
  flex-shrink: 0;
  max-width: 33.33333%;
  padding: 0 15px;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.mb-05 {
  margin-bottom: 0.5rem;
}

.mb-1 {
  margin-bottom: 16px;
}

.mt-05 {
  margin-top: 8px;
}

.mt-06 {
  margin-top: 14px;
}

.ma-0 {
  margin: 0;
}

.mt-1 {
  margin-top: 16px;
}

.py-2 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.link {
  color: $blue;
  text-decoration: underline;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.background-brown {
  background-color: $brown;
}

.background-after-brown {
  &::after {
    background-color: $brown;
  }
}

.background-after-white {
  &::after {
    background-color: $light;
  }
}

.background-white {
  background-color: $color-white;
}

.order-prev {
  order: -1;
}

.order-next {
  order: 1;
}

.mb-20 {
  margin-bottom: 30px;
}

.mb-10 {
  margin-bottom: 20px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mb-0 {
  margin-bottom: 0;
}
