.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.mb-05 {
  margin-bottom: 0.5rem;
}

.mb-1 {
  margin-bottom: 16px;
}

.mt-05 {
  margin-top: 8px;
}

.mt-06 {
  margin-top: 14px;
}

.ma-0 {
  margin: 0;
}

.mt-1 {
  margin-top: 16px;
}

.link {
  color: $blue;
  text-decoration: underline;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}
