.footer-form {
  display: flex;
  align-self: center;
  justify-content: space-between;
  padding: 55px 52px;
}

.footer-form-main-dark {
  background-color: $main-dark;
}

.footer-question {
  display: block;
  max-width: 393px;
}

.footer-question-white {
  color: $color-white;

  font-size: 36px;
}

.footer-form-email-white {
  color: $color-white;
  font-weight: 700;
  font-size: 18px;
}

.footer-form-input {
  min-width: 334px;
  padding: 10px;

  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #000;

    opacity: 0.2;
  }

  &::-moz-placeholder { /* Firefox 19+ */
    color: #000;

    opacity: 0.2;
  }

  &:-ms-input-placeholder { /* IE 10+ */
    color: #000;

    opacity: 0.2;
  }

  &:-moz-placeholder { /* Firefox 18- */
    color: #000;

    opacity: 0.2;
  }
}

.footer-form-input-img {
  padding: 14px 26px;
}

.footer-form-input-img-bg-main {
  background-color: $main;
}

.footer-copyright {
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
}
