.header {
  overflow: hidden;

  background-color: $light;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.06;

    content: '';
  }
}

.header-wrapper {
  padding: 100px 0;

  line-height: 1.2;

  &-title-main-color {
    color: $main;
  }

  &-title-wrapper {
    @media screen and (max-width: 1100px) {
      justify-content: center;

      text-align: center;
    }
  }

  &-img {
    top: 55px;
    right: -270px;

    @media screen and (max-width: 1100px) {
      display: none;
    }
  }

  @media screen and (max-width: 1100px) {
    justify-content: center;
    padding: 50px 15px;
  }
}

.header-description-wrapper {
  margin-top: 225px;

  @media screen and (max-width: 1100px) {
    margin-top: 100px;
  }

  @media screen and (max-width: 650px) {
    flex-wrap: wrap;
  }
}

.header-description {
  padding: 0 15px;

  @media screen and (max-width: 650px) {
    &:nth-child(1) {
      margin-bottom: 10px;
    }
  }

  @media screen and (max-width: 550px) {
    font-size: 12px;
  }
}

.btn {
  margin-top: 40px;
  padding: 12px 24px;

  @media screen and (max-width: 650px) {
    width: 100%;
  }
}

.btn-orange {
  color: $color-white;
  font-size: 16px;

  background-color: $main;

  @media screen and (max-width: 550px) {
    font-size: 12px;
  }
}
