.header-wrapper {
  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.6;

    content: '';
  }

  .header {
    position: relative;

    padding: 100px 0;

    font-family: 'Neucha', serif;
    line-height: 1.2;

    &__title-main {
      color: $main;
    }

    &__img {
      position: absolute;
      top: 55px;
      right: -270px;

      height: 525px;
    }
  }

  .header__description-wrapper {
    display: flex;
    margin-top: 225px;

    .header__description {
      padding: 0 15px;
    }
  }
}
