.header-wrapper {
  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.6;

    content: '';
  }
}

.header {
  position: relative;

  padding: 100px 0;

  font-family: 'Neucha', serif;
  line-height: 1.2;

  &-title-main-color {
    color: $main;
  }

  &-img {
    position: absolute;
    top: 55px;
    right: -270px;

    height: 525px;
  }
}

.header-description-wrapper {

  display: flex;
  margin-top: 225px;

  font-family: 'Open Sans Normal', sans-serif;
}

.header-description {
  padding: 0 15px;
}

.btn {
  margin-top: 40px;
  padding: 12px 24px;
}

.btn-orange {

  color: $color-white;
  font-size: 16px;

  background-color: $main;
}
