.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.d-flex {
  display: flex;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.column {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  padding: 0 15px;
}

.column-6 {
  flex-basis: 50%;
  flex-grow: 0;
  flex-shrink: 0;
  max-width: 50%;
  padding: 0 15px;
}

.column-4 {
  flex-basis: 33.33333%;
  flex-grow: 0;
  flex-shrink: 0;
  max-width: 33.33333%;
  padding: 0 15px;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.mt-20 {
  margin-top: 20px;
}

.ma-0 {
  margin: 0;
}

.mt-0 {
  margin-top: 0;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mb-0 {
  margin-bottom: 0;
}

.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.link {
  color: #1085c5;
  text-decoration: underline;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.background-brown {
  background-color: #b09a81;
}

.background-white {
  background-color: #fff;
}

.background-after-brown {
  background-color: #b09a81;
}

.background-after-white {
  background-color: #f5f4f0;
}

.order-prev {
  order: -1;
}

.order-next {
  order: 1;
}

@font-face {
  font-weight: normal;
  font-family: 'Neucha';
  font-style: normal;
  src: url("../fonts/Neucha-Regular.woff2") format("woff2"), url("../fonts/Neucha-Regular.woff") format("woff");
}

@font-face {
  font-weight: normal;
  font-family: 'Open Sans';
  font-style: normal;
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
}

@font-face {
  font-weight: bold;
  font-family: 'Open Sans';
  font-style: normal;
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff");
}

body {
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  line-height: 25.6px;
}

h1,
.heading-1 {
  font-weight: 400;
  font-size: 72px;
  font-family: 'Neucha', cursive;
  line-height: 1.2;
}

h2,
.heading-2 {
  font-weight: 400;
  font-size: 60px;
  font-family: 'Neucha', cursive;
  line-height: 1.1;
}

h3,
.heading-3 {
  font-weight: 400;
  font-size: 34px;
  font-family: 'Neucha', cursive;
  line-height: 1.2;
}

.subheader {
  font-weight: 400;
  font-size: 24px;
  font-family: 'Neucha', cursive;
  line-height: 1.2;
}

.text-white {
  color: #fff;
}

.text-blue {
  color: #1085c5;
}

.text-brown {
  color: #b09a81;
}

.text-dark {
  color: #2a2626;
}

.text-translucent-white {
  color: #d7ccc0;
}

.text-translucent-dark {
  color: #908d8b;
}

.text-main {
  color: #fe8a02;
}

.fz-09 {
  font-size: 14px;
}

.text-center {
  text-align: center;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

h1,
h2,
h3 {
  margin: 0;
}

header,
footer,
section {
  padding: 100px 0;
}

.header {
  overflow: hidden;

  background-color: #f5f4f0;
}

.header::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.06;

  content: '';
}

.header-title {
  position: relative;
  z-index: 1;

  margin-bottom: 185px;
}

.header-title-img {
  top: -50px;
  right: -270px;

  height: 525px;
}

.btn-detail {
  margin-top: 40px;
  padding: 12px 24px;
}

.btn-orange {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #fe8a02;
}

.youtube-video {
  top: 200px;

  margin-top: -200px;
}

.youtube-video-filter {
  width: 919px;
  height: 569px;

  border: 0;
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.main-menu {
  width: 100%;
  padding-top: 90px;
}

.main-menu::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;

  background-color: #42413c;

  content: '';
}

.card {
  height: 100%;
  padding: 24px;
}

.card-number {
  color: inherit;
  font-size: 64px;
  font-family: 'Neucha', serif;
  line-height: 70.5px;
}

.card-title {
  margin-top: 40px;

  color: #fe8a02;
  font-size: 34px;
  font-family: 'Neucha', serif;
  line-height: 40.8px;
}

.card:hover {
  color: #fff;

  background-color: #fe8a02;
}

.card:hover .card-title {
  color: #fff;
}

.card-dark {
  color: #2a2626;
  text-decoration: none;

  background-color: #f5f4f0;
}

.card-main-title {
  margin: 0;
  padding: 0;
}

.card-main-title-transparent {
  font-size: 52px;
  line-height: 1.2;

  background: transparent;
}

.section-desc-typo {
  font-size: 34px;
  font-family: 'Neucha', serif;
  line-height: 40.8px;
}

.section-desc {
  margin: 0;
}

.section-title-typo {
  line-height: 72px;
}

.section-title {
  margin: 0 0 30px;
}

.section-subtitle {
  margin: 0;
}

.section-subtitle-typo {
  font-size: 24px;
  line-height: 28.8px;
}

.section-title-container {
  max-width: 502px;
}

.section-symptoms {
  padding: 5px 10px;
}

.section-symptoms-typo {
  font-weight: 700;
  font-size: 14px;
  line-height: 16.8px;
  text-transform: uppercase;
}

.section-img {
  max-width: 100%;
}

.section {
  padding: 100px 0;

  line-height: 25.6px;
}

@media screen and (max-width: 1100px) {
  .section {
    padding: 50px 0;
  }
}

.section::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: '';
}

.footer-form-container {
  padding: 38px 55px 40px;
}

.footer-form-main-dark {
  background-color: #42413c;
}

.footer-question {
  max-width: 393px;
  margin-right: 122px;
}

.footer-question-white {
  color: #fff;
  font-size: 34px;
  line-height: 40.8px;
}

.footer-form-email-white {
  margin-bottom: 9px;

  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 28.8px;
}

.footer-form-input {
  min-width: 399px;
  padding: 10px;

  border: 0;
}

@media screen and (max-width: 550px) {
  .footer-form-input {
    font-size: 12px;
  }
}

.footer-form-input::placeholder {
  /* Firefox 19+ */
  color: #757575;
  font-size: 13px;

  opacity: 0.2;
}

.btn-send {
  padding: 15px 23px;

  color: #fff;
  font-size: 20px;

  background-color: #fe8a02;
  border: 0;
}

.btn-send::before {
  display: inline-block;
  width: 20px;
  height: 20px;

  background-image: url("../images/send.svg");
  background-repeat: no-repeat;
  background-size: 20px 20px;

  content: '';
}

.footer-form-input-img {
  padding: 15px 21px;
}

.footer-form-input-img-bg-main {
  background-color: #fe8a02;
  border-style: none !important;
  outline: none;
}

.footer-subscribe {
  font-size: 12px;
  font-style: normal;
  line-height: 25px;
}

.footer-material {
  line-height: 25px;
}

.footer-copyright {
  margin-top: 76px;

  font-size: 14px;
  line-height: 22.4px;
}
