@font-face {
  font-weight: 400;
  font-family: 'Open Sans Normal';
  font-style: normal;
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-weight: 400;
  font-family: 'Open Sans Bold';
  font-style: normal;
  src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
  font-weight: 400;
  font-family: 'Neucha';
  font-style: normal;
  src: url('../fonts/Neucha.ttf') format('truetype');
}

* {
  color: #2a2626;
}

h1,
h2,
h3 {
  font-weight: 400;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.font-open-sans {
  font-weight: 400;
  font-family: 'Open Sans Normal', sans-serif;
}

.font-neucha {
  font-weight: 400;
  font-family: 'Neucha', serif;
}

.text-white {
  color: $color-white;
  font-weight: 400;
}

.text-blue {
  color: $blue;
}

.text-dark {
  color: $dark;
}

.text-main {
  color: $main;
}

.fz-09 {
  font-size: 14px;
}
