.position-relative {
  position: relative;
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justitfy-center {
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

.align-start {
  align-items: flex-start;
}

.mb-05 {
  margin-bottom: 0.5rem;
}

.mb-1 {
  margin-bottom: 16px;
}

.link {
  color: $blue;
  text-decoration: underline;
}
