{% macro generate_section(name, img, titleMain, titleSub, descriptions1, descriptions2, colorText, sympBackColor,
sympColorTxt,
orderImg) %}
<section class="section background-after-{{ sympColorTxt }} position-relative" id="{{name}}">
  <div class="container position-relative">
    <div class="d-flex justify-between mb-100">
      <div class="section-title-container">
        <div class="section-title-wrapper">
          <p class="section-subtitle section-subtitle-typo text-translucent-{{ colorText }}">Когнитивные искажения</p>
          <h2 class="section-title section-title-typo text-{{colorText}}">{{titleMain}}</h2>
          <p class="section-desc section-desc-typo text-{{colorText}}">
            {{titleSub}}
          </p>
        </div>
      </div>
      <img src="{{img}}" alt="main" class="section-img order-{{ orderImg }}" />
    </div>
    <h3 class="section-symptoms background-{{ sympBackColor }} section-symptoms-typo text-{{ sympColorTxt }}">
      Как проявляется
    </h3>
    <div class="mt-10 row">
      <div class="column-6">
        {% for desc in descriptions1 %}
        <p class="mt-0 text-{{colorText}}">
          {{desc}}
        </p>
        {% endfor %}
      </div>
      <div class="column-6">
        {% for desc in descriptions2 %}
        <p class="mt-0 text-{{colorText}}">
          {{desc}}
        </p>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endmacro %}