{% macro generate_section(name, img, titleMain, titleSub, descriptions, colorText, sympBackColor, sympColorTxt,
orderImg) %}
<section class="section background-after-{{ sympColorTxt }} position-relative" id="{{name}}">
  <div class="container position-relative">
    <div class="d-flex justify-between mb-100">
      <div class="section-title-container">
        <div class="section-title-wrapper">
          <p class="section-subtitle section-subtitle-typo text-translucent-{{ colorText }}">Когнитивные искажения</p>
          <h2 class="section-title section-title-typo text-{{colorText}}">{{titleMain}}</h2>
          <p class="section-desc section-desc-typo text-{{colorText}}">
            {{titleSub}}
          </p>
        </div>
      </div>
      <img src="{{img}}" alt="main" class="section-img order-{{ orderImg }}" />
    </div>
    <h3
      class="section-symptoms background-{{ sympBackColor }} section-symptoms-typo text-{{ sympColorTxt }} font-open-sans-bold">
      Как проявляется
    </h3>
    <div class="section-description-wrapper row">
      {% for desc in descriptions %}
      <div class="column-6">
        <p class="section-description text-{{colorText}}">
          {{desc | safe}}
        </p>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endmacro %}