<footer class="footer">
  <div class="footer-container container">
    <form class="footer-form footer-form-main-dark font-neucha flex-wrap d-flex align-center">
      <h3 class="footer-question footer-question-white d-block">
        Хотите узнать больше?
        Подпишитесь на
        обновления
      </h3>
      <div class="font-open-sans">
        <div class="footer-form-email-white">Электронная почта</div>
        <div class="footer-form-input-wrapper d-flex">
          <input type="email" class="footer-form-input" id="footer-form-input" placeholder="Ваша электронная почта">
          <button class="btn-send d-flex align-center"></button>
        </div>
        <div class="text-white footer-subscribe">Подписываясь, вы принимаете <a href="#"
            class="text-white link-underline">правила
            сервиса</a></div>
      </div>
    </form>
    <div class="footer-copyright font-open-sans d-flex fz-09 flex-column align-center">
      <div class="mb-1">© 2020 Новиков Максим</div>
      <div class="mb-1 footer-material">По материалам статьи Yash Ranadive <a
          href="https://medium.com/hackernoon/cognitive-biases-in-programming-5e937707c27b" class="link">Cognitive
          Biases
          in
          Programming</a>
      </div>
      <div class="footer-copyright-material">
        <a href="https://hexlet.io" class="link">Курсы программирования Hexlet</a>
      </div>
    </div>
  </div>
</footer>
