<footer class="footer">
  <div class="container">
    <div class="footer-form-container footer-form-main-dark flex-wrap d-flex align-center">
      <h2 class="footer-question footer-question-white d-block">
        Хотите узнать больше?
        Подпишитесь на
        обновления
      </h2>
      <form>
        <label for="footer-form-input" class="footer-form-email-white d-block">Электронная почта</label>
        <div class="footer-form-input-wrapper d-flex">
          <input type="email" class="footer-form-input" id="footer-form-input" placeholder="Ваша электронная почта">
          <button class="btn-send d-flex align-center"></button>
        </div>
        <i class="text-white footer-subscribe d-block">Подписываясь, вы принимаете <a href="#"
            class="text-white link-underline">правила
            сервиса</a></i>
      </form>
    </div>
    <div class="footer-copyright d-flex flex-column align-center">
      <p class="mt-0">&copy; 2020 Новиков Максим</p>
      <p class="footer-material mt-0">По материалам статьи Yash Ranadive <a
          href="https://medium.com/hackernoon/cognitive-biases-in-programming-5e937707c27b" class="link">Cognitive
          Biases
          in
          Programming</a>
      </p>
      <p class="footer-copyright-material mt-0">
        <a href="https://hexlet.io" class="link">Курсы программирования Hexlet</a>
      </p>
    </div>
  </div>
</footer>