<footer class="footer container">
  <form class="footer__form">
    <label for="" class="footer__question">Хотите узнать больше? Подпишитесь на обновления</label>
    <div class="footer__form_inner_wrapper">
      <div class="footer__form_email">Электронная почта</div>
      <div class="footer__form_input_wrapper">
        <input type="email" class="footer__form_input" placeholder="Ваша электронная почта">
        <img src="../../images/send.svg" alt="send" class="footer__form_input_send_img">
      </div>
      <div class="footer__form_input_desc">Подписываясь, вы принимаете <a href="#">правила сервиса</a></div>
    </div>
  </form>
  <div class="footer__copyright">
    <div class="footer__copyright_author">© 2020 Новиков Максим</div>
    <div class="footer__copyright_material">По материалам статьи Yash Ranadive <a href="#">Cognitive Biases in
        Programming</a>
    </div>
    <div class="footer__copyright_material"><a href="#">Cognitive Biases in
        Programming</a>
    </div>
  </div>
</footer>