<footer class="footer container">
  <form class="footer-form footer-form-main-dark font-neucha flex-wrap">
    <label for="" class="footer-question footer-question-white">Хотите узнать больше? Подпишитесь на обновления</label>
    <div class="font-open-sans">
      <div class="footer-form-email-white mb-05">Электронная почта</div>
      <div class="footer-form-input_wrapper d-flex mb-05">
        <input type="email" class="footer-form-input" placeholder="Ваша электронная почта">
        <img src="./images/send.svg" alt="send" class="footer-form-input-img footer-form-input-img-bg-main">
      </div>
      <div class="text-white">Подписываясь, вы принимаете <a href="#" class="text-white link-underline">правила
          сервиса</a></div>
    </div>
  </form>
  <div class="footer-copyright font-open-sans d-flex fz-09">
    <div class="mb-1">© 2020 Новиков Максим</div>
    <div class="mb-1">По материалам статьи Yash Ranadive <a
        href="https://medium.com/hackernoon/cognitive-biases-in-programming-5e937707c27b" class="link">Cognitive Biases
        in
        Programming</a>
    </div>
    <div class="footer__copyright_material"><a href="https://hexlet.io" class="link">Курсы программирования Hexlet</a>
    </div>
  </div>
</footer>