<div class="header">
  <header class="header-wrapper container">
    <div class="header-wrapper-title-wrapper">
      <h1 class="header-wrapper-title">
        <span class="header-wrapper-title-main-color">
          Когнитивные
          <br />
          искажения
          <br />
        </span>
        <span class="header-wrapper-title-dark">
          в программировании
        </span>
      </h1>
      <img src="./images/main.png" alt="main" class="header-wrapper-img" />
    </div>
    <div class="header-description-wrapper">
      <p class="header-description">
        Мы, разработчики, часто сталкиваемся с проблемами, которые идут вразрез с нашей продуктивностью. Но мы часто
        игнорируем целостную картину. Некоторые из этих проблем малозаметны, некоторые существенны. Иногда с ними можно
        как-то справиться, а иногда, к сожалению, нет.
      </p>
      <p class="header-description d-flex flex-column align-start">
        Вместе они формируют что-то вроде замкнутого цикла, и это может привести к длительной потере продуктивности,
        багам и бесконечному разочарованию.
        Если мы сможем минимизировать воздействие одного или нескольких из этих факторов, то сможем сломать и цикл, а
        остатки нейтрализовать.
        <button class="btn btn-orange font-open-sans">
          Подробнее
        </button>
      </p>
    </div>
  </header>
</div>