.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.mb-05 {
  margin-bottom: 0.5rem;
}

.mb-1 {
  margin-bottom: 16px;
}

.mt-05 {
  margin-top: 8px;
}

.mt-1 {
  margin-top: 16px;
}

.link {
  color: #1085c5;
  text-decoration: underline;
}

.d-block {
  display: block;
}

@font-face {
  font-weight: 400;
  font-family: 'Open Sans Normal';
  font-style: normal;
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-weight: 400;
  font-family: 'Open Sans Bold';
  font-style: normal;
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
  font-weight: 400;
  font-family: 'Neucha';
  font-style: normal;
  src: url("../fonts/Neucha.ttf") format("truetype");
}

h1,
h2,
h3 {
  font-weight: 400;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

@media screen and (max-width: 550px) {
  h1 {
    font-size: 40px;
  }
}

h2 {
  font-size: 60px;
}

@media screen and (max-width: 550px) {
  h2 {
    font-size: 35px;
  }
}

h3 {
  font-size: 25px;
}

@media screen and (max-width: 550px) {
  h3 {
    font-size: 20px;
  }
}

.font-open-sans {
  font-weight: 400;
  font-family: 'Open Sans Normal', sans-serif;
}

.font-neucha {
  font-weight: 400;
  font-family: 'Neucha', serif;
}

.text-white {
  color: #fff;
  font-weight: 400;
}

@media screen and (max-width: 550px) {
  .text-white {
    font-size: 12px;
    text-align: center;
  }
}

.text-blue {
  color: #1085c5;
}

.text-dark {
  color: #2a2626;
}

.text-main {
  color: #fe8a02;
}

.fz-09 {
  font-size: 14px;
}

.text-center {
  text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #2a2626;
  text-decoration: none;
  border: none;
}

html {
  height: 100%;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.header {
  overflow: hidden;
  background-color: #f5f4f0;
}

.header::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.06;
  content: '';
}

.header-wrapper {
  padding: 100px 0;
  line-height: 1.2;
}

@media screen and (max-width: 1100px) {
  .header-wrapper {
    justify-content: center;
    padding: 50px 15px;
  }
}

.title {
  position: relative;
  z-index: 1;
}

.title-img {
  top: 42px;
  right: -300px;
}

@media screen and (max-width: 1100px) {
  .title-img {
    display: none;
  }
}

@media screen and (max-width: 1100px) {
  .title-wrapper {
    justify-content: center;
    text-align: center;
  }
}

.header-description-wrapper {
  margin-top: 225px;
}

@media screen and (max-width: 1100px) {
  .header-description-wrapper {
    margin-top: 100px;
  }
}

@media screen and (max-width: 650px) {
  .header-description-wrapper {
    display: block;
  }
}

.header-description {
  flex: 1;
  padding: 0 15px;
  line-height: 26px;
}

@media screen and (max-width: 650px) {
  .header-description:nth-child(1) {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 550px) {
  .header-description {
    font-size: 12px;
  }
}

.btn-title {
  margin-top: 40px;
  padding: 12px 24px;
}

@media screen and (max-width: 650px) {
  .btn-title {
    width: 100%;
  }
}

.btn-orange {
  color: #fff;
  font-size: 16px;
  background-color: #fe8a02;
}

@media screen and (max-width: 650px) {
  .btn-orange {
    text-align: center;
  }
}

.youtube {
  margin: 30px auto;
  padding-top: 100px;
}

.youtube-description {
  margin-top: 27px;
  margin-bottom: -70px;
}

@media screen and (max-width: 550px) {
  .youtube-description {
    font-size: 12px;
  }
}

.youtube-video {
  top: 100px;
  width: 919px;
  max-width: 100%;
  height: 569px;
  border: 0;
}

.youtube-video-filter {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

@media screen and (max-width: 550px) {
  .youtube-video {
    max-height: 300px;
  }
}

@media screen and (max-width: 1100px) {
  .youtube {
    padding: 0 30px;
  }
}

.main-menu {
  padding: 200px 164px 100px;
}

.main-menu::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: #42413c;
  content: '';
}

@media screen and (max-width: 1490px) {
  .main-menu {
    padding: 100px 50px;
  }
}

@media screen and (max-width: 860px) {
  .main-menu {
    padding: 100px 0;
  }
}

.card-container {
  max-width: 1200px;
  margin: auto;
}

.card {
  max-width: 350px;
  height: 348px;
  margin: 15px;
  padding: 24px;
}

.card-number {
  color: inherit;
  font-size: 64px;
}

.card-title {
  color: #fe8a02;
  font-size: 34px;
}

.card-description {
  color: inherit;
  font-size: 16px;
}

@media screen and (max-width: 550px) {
  .card-description {
    font-size: 12px;
  }
}

.card:hover {
  color: #fff;
  background-color: #fe8a02;
}

.card:hover .card-title {
  color: #fff;
}

@media screen and (max-width: 550px) {
  .card {
    height: auto;
  }
}

.card-dark {
  color: #2a2626;
  background-color: #f5f4f0;
}

.card-main-title {
  max-width: 350px;
  height: 348px;
  margin: 15px;
  padding: 0;
}

@media screen and (max-width: 550px) {
  .card-main-title {
    height: auto;
  }
}

.card-main-title-transparent {
  font-size: 52px;
  line-height: 1.2;
  background: transparent;
}

@media screen and (max-width: 550px) {
  .card-main-title-transparent {
    font-size: 35px;
  }
}

.ikea-effect {
  padding: 100px 0;
}

@media screen and (max-width: 1100px) {
  .ikea-effect {
    padding: 50px 0;
  }
}

.ikea-effect::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  content: '';
}

.ikea-effect::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: #f5f4f0;
  content: '';
}

.ikea-effect-img {
  order: -1;
  max-width: 100%;
  max-height: 405px;
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.ikea-effect-symptoms {
  margin-top: 227px;
  padding: 4px;
}

@media screen and (max-width: 1100px) {
  .ikea-effect-symptoms {
    margin-top: 100px;
    padding: 4px 15px;
  }
}

@media screen and (max-width: 550px) {
  .ikea-effect-symptoms {
    font-size: 12px;
  }
}

.ikea-effect-symptoms-background {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #b09a81;
}

@media screen and (max-width: 1100px) {
  .ikea-effect-title-wrapper {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 1100px) {
  .ikea-effect-title-container {
    margin-top: 30px;
    text-align: center;
  }
}

.ikea-effect-subtitle {
  margin-bottom: 8px;
  color: #908d8b;
  font-size: 24px;
}

.ikea-effect-title {
  max-width: 540px;
  margin-bottom: 24px;
}

@media screen and (max-width: 1100px) {
  .ikea-effect-title {
    margin-bottom: 0;
  }
}

.ikea-effect-title-colored {
  color: #2a2626;
}

.ikea-effect-desc {
  max-width: 500px;
}

@media screen and (max-width: 1100px) {
  .ikea-effect-desc {
    max-width: auto;
  }
}

.ikea-effect-desc-colored {
  color: #2a2626;
  font-size: 34px;
}

.ikea-effect-description-wrapper {
  margin-top: 24px;
}

@media screen and (max-width: 1100px) {
  .ikea-effect-description-wrapper {
    padding: 0 15px;
  }
}

@media screen and (max-width: 700px) {
  .ikea-effect-description-wrapper {
    flex-wrap: wrap;
  }
}

.ikea-effect-description {
  flex: 1;
  color: #2a2626;
}

@media screen and (max-width: 700px) {
  .ikea-effect-description {
    flex: auto;
  }
}

.ikea-effect-description:nth-child(1) {
  margin-right: 30px;
}

@media screen and (max-width: 700px) {
  .ikea-effect-description:nth-child(1):nth-child(1) {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 550px) {
  .ikea-effect-description {
    font-size: 12px;
  }
}

.premature-optimization {
  padding: 100px 0;
}

@media screen and (max-width: 1100px) {
  .premature-optimization {
    padding: 50px 0;
  }
}

.premature-optimization::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  content: '';
}

.premature-optimization::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: #b09a81;
  content: '';
}

.premature-optimization-img {
  order: 1;
  max-width: 100%;
  max-height: 405px;
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.premature-optimization-symptoms {
  margin-top: 161px;
  padding: 4px;
}

@media screen and (max-width: 1100px) {
  .premature-optimization-symptoms {
    margin-top: 100px;
    padding: 4px 15px;
  }
}

@media screen and (max-width: 550px) {
  .premature-optimization-symptoms {
    font-size: 12px;
  }
}

.premature-optimization-symptoms-background {
  color: #2a2626;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #fff;
}

@media screen and (max-width: 1100px) {
  .premature-optimization-title-wrapper {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 1100px) {
  .premature-optimization-title-container {
    margin-top: 30px;
    text-align: center;
  }
}

.premature-optimization-subtitle {
  margin-bottom: 8px;
  color: #d7ccc0;
  font-size: 24px;
}

.premature-optimization-title {
  max-width: 540px;
  margin-bottom: 24px;
}

@media screen and (max-width: 1100px) {
  .premature-optimization-title {
    margin-bottom: 0;
  }
}

.premature-optimization-title-colored {
  color: #fff;
}

.premature-optimization-desc {
  max-width: 500px;
}

@media screen and (max-width: 1100px) {
  .premature-optimization-desc {
    max-width: auto;
  }
}

.premature-optimization-desc-colored {
  color: #fff;
  font-size: 34px;
}

.premature-optimization-description-wrapper {
  margin-top: 24px;
}

@media screen and (max-width: 1100px) {
  .premature-optimization-description-wrapper {
    padding: 0 15px;
  }
}

@media screen and (max-width: 700px) {
  .premature-optimization-description-wrapper {
    flex-wrap: wrap;
  }
}

.premature-optimization-description {
  flex: 1;
  color: #fff;
}

@media screen and (max-width: 700px) {
  .premature-optimization-description {
    flex: auto;
  }
}

.premature-optimization-description:nth-child(1) {
  margin-right: 30px;
}

@media screen and (max-width: 700px) {
  .premature-optimization-description:nth-child(1):nth-child(1) {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 550px) {
  .premature-optimization-description {
    font-size: 12px;
  }
}

.distortion-of-novelty {
  padding: 100px 0;
}

@media screen and (max-width: 1100px) {
  .distortion-of-novelty {
    padding: 50px 0;
  }
}

.distortion-of-novelty::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  content: '';
}

.distortion-of-novelty::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: #f5f4f0;
  content: '';
}

.distortion-of-novelty-img {
  order: -1;
  max-width: 100%;
  max-height: 405px;
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.distortion-of-novelty-symptoms {
  margin-top: 227px;
  padding: 4px;
}

@media screen and (max-width: 1100px) {
  .distortion-of-novelty-symptoms {
    margin-top: 100px;
    padding: 4px 15px;
  }
}

@media screen and (max-width: 550px) {
  .distortion-of-novelty-symptoms {
    font-size: 12px;
  }
}

.distortion-of-novelty-symptoms-background {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #b09a81;
}

@media screen and (max-width: 1100px) {
  .distortion-of-novelty-title-wrapper {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 1100px) {
  .distortion-of-novelty-title-container {
    margin-top: 30px;
    text-align: center;
  }
}

.distortion-of-novelty-subtitle {
  margin-bottom: 8px;
  color: #908d8b;
  font-size: 24px;
}

.distortion-of-novelty-title {
  max-width: 540px;
  margin-bottom: 24px;
}

@media screen and (max-width: 1100px) {
  .distortion-of-novelty-title {
    margin-bottom: 0;
  }
}

.distortion-of-novelty-title-colored {
  color: #2a2626;
}

.distortion-of-novelty-desc {
  max-width: 500px;
}

@media screen and (max-width: 1100px) {
  .distortion-of-novelty-desc {
    max-width: auto;
  }
}

.distortion-of-novelty-desc-colored {
  color: #2a2626;
  font-size: 34px;
}

.distortion-of-novelty-description-wrapper {
  margin-top: 24px;
}

@media screen and (max-width: 1100px) {
  .distortion-of-novelty-description-wrapper {
    padding: 0 15px;
  }
}

@media screen and (max-width: 700px) {
  .distortion-of-novelty-description-wrapper {
    flex-wrap: wrap;
  }
}

.distortion-of-novelty-description {
  flex: 1;
  color: #2a2626;
}

@media screen and (max-width: 700px) {
  .distortion-of-novelty-description {
    flex: auto;
  }
}

.distortion-of-novelty-description:nth-child(1) {
  margin-right: 30px;
}

@media screen and (max-width: 700px) {
  .distortion-of-novelty-description:nth-child(1):nth-child(1) {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 550px) {
  .distortion-of-novelty-description {
    font-size: 12px;
  }
}

.hyperbolic-depreciation {
  padding: 100px 0;
}

@media screen and (max-width: 1100px) {
  .hyperbolic-depreciation {
    padding: 50px 0;
  }
}

.hyperbolic-depreciation::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  content: '';
}

.hyperbolic-depreciation::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: #b09a81;
  content: '';
}

.hyperbolic-depreciation-img {
  order: 1;
  max-width: 100%;
  max-height: 405px;
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.hyperbolic-depreciation-symptoms {
  margin-top: 161px;
  padding: 4px;
}

@media screen and (max-width: 1100px) {
  .hyperbolic-depreciation-symptoms {
    margin-top: 100px;
    padding: 4px 15px;
  }
}

@media screen and (max-width: 550px) {
  .hyperbolic-depreciation-symptoms {
    font-size: 12px;
  }
}

.hyperbolic-depreciation-symptoms-background {
  color: #2a2626;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #fff;
}

@media screen and (max-width: 1100px) {
  .hyperbolic-depreciation-title-wrapper {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 1100px) {
  .hyperbolic-depreciation-title-container {
    margin-top: 30px;
    text-align: center;
  }
}

.hyperbolic-depreciation-subtitle {
  margin-bottom: 8px;
  color: #d7ccc0;
  font-size: 24px;
}

.hyperbolic-depreciation-title {
  max-width: 540px;
  margin-bottom: 24px;
}

@media screen and (max-width: 1100px) {
  .hyperbolic-depreciation-title {
    margin-bottom: 0;
  }
}

.hyperbolic-depreciation-title-colored {
  color: #fff;
}

.hyperbolic-depreciation-desc {
  max-width: 500px;
}

@media screen and (max-width: 1100px) {
  .hyperbolic-depreciation-desc {
    max-width: auto;
  }
}

.hyperbolic-depreciation-desc-colored {
  color: #fff;
  font-size: 34px;
}

.hyperbolic-depreciation-description-wrapper {
  margin-top: 24px;
}

@media screen and (max-width: 1100px) {
  .hyperbolic-depreciation-description-wrapper {
    padding: 0 15px;
  }
}

@media screen and (max-width: 700px) {
  .hyperbolic-depreciation-description-wrapper {
    flex-wrap: wrap;
  }
}

.hyperbolic-depreciation-description {
  flex: 1;
  color: #fff;
}

@media screen and (max-width: 700px) {
  .hyperbolic-depreciation-description {
    flex: auto;
  }
}

.hyperbolic-depreciation-description:nth-child(1) {
  margin-right: 30px;
}

@media screen and (max-width: 700px) {
  .hyperbolic-depreciation-description:nth-child(1):nth-child(1) {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 550px) {
  .hyperbolic-depreciation-description {
    font-size: 12px;
  }
}

.errors-in-planning {
  padding: 100px 0;
}

@media screen and (max-width: 1100px) {
  .errors-in-planning {
    padding: 50px 0;
  }
}

.errors-in-planning::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  content: '';
}

.errors-in-planning::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: #f5f4f0;
  content: '';
}

.errors-in-planning-img {
  order: -1;
  max-width: 100%;
  max-height: 405px;
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.errors-in-planning-symptoms {
  margin-top: 227px;
  padding: 4px;
}

@media screen and (max-width: 1100px) {
  .errors-in-planning-symptoms {
    margin-top: 100px;
    padding: 4px 15px;
  }
}

@media screen and (max-width: 550px) {
  .errors-in-planning-symptoms {
    font-size: 12px;
  }
}

.errors-in-planning-symptoms-background {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #b09a81;
}

@media screen and (max-width: 1100px) {
  .errors-in-planning-title-wrapper {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 1100px) {
  .errors-in-planning-title-container {
    margin-top: 30px;
    text-align: center;
  }
}

.errors-in-planning-subtitle {
  margin-bottom: 8px;
  color: #908d8b;
  font-size: 24px;
}

.errors-in-planning-title {
  max-width: 540px;
  margin-bottom: 24px;
}

@media screen and (max-width: 1100px) {
  .errors-in-planning-title {
    margin-bottom: 0;
  }
}

.errors-in-planning-title-colored {
  color: #2a2626;
}

.errors-in-planning-desc {
  max-width: 500px;
}

@media screen and (max-width: 1100px) {
  .errors-in-planning-desc {
    max-width: auto;
  }
}

.errors-in-planning-desc-colored {
  color: #2a2626;
  font-size: 34px;
}

.errors-in-planning-description-wrapper {
  margin-top: 24px;
}

@media screen and (max-width: 1100px) {
  .errors-in-planning-description-wrapper {
    padding: 0 15px;
  }
}

@media screen and (max-width: 700px) {
  .errors-in-planning-description-wrapper {
    flex-wrap: wrap;
  }
}

.errors-in-planning-description {
  flex: 1;
  color: #2a2626;
}

@media screen and (max-width: 700px) {
  .errors-in-planning-description {
    flex: auto;
  }
}

.errors-in-planning-description:nth-child(1) {
  margin-right: 30px;
}

@media screen and (max-width: 700px) {
  .errors-in-planning-description:nth-child(1):nth-child(1) {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 550px) {
  .errors-in-planning-description {
    font-size: 12px;
  }
}

@media screen and (max-width: 1100px) {
  .section-wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.footer {
  margin-top: 100px;
}

.footer-form {
  align-self: center;
  padding: 40px 52px;
}

@media screen and (max-width: 930px) {
  .footer-form {
    justify-content: center;
  }
}

.footer-form-main-dark {
  background-color: #42413c;
}

.footer-question {
  max-width: 393px;
}

@media screen and (max-width: 550px) {
  .footer-question {
    text-align: center;
  }
}

.footer-question-white {
  color: #fff;
  font-size: 36px;
}

@media screen and (max-width: 550px) {
  .footer-question-white {
    font-size: 20px;
  }
}

.footer-form-email-white {
  color: #fff;
  font-weight: 400;
  font-size: 18px;
}

@media screen and (max-width: 550px) {
  .footer-form-email-white {
    font-size: 12px;
    text-align: center;
  }
}

.footer-form-input {
  min-width: 334px;
  padding: 10px;
}

@media screen and (max-width: 550px) {
  .footer-form-input {
    font-size: 12px;
  }
}

.footer-form-input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
  color: #000;
  font-size: 10px;
  opacity: 0.2;
}

.footer-form-input::-moz-placeholder {
    /* Firefox 19+ */
  color: #000;
  font-size: 10px;
  opacity: 0.2;
}

.footer-form-input:-ms-input-placeholder {
    /* IE 10+ */
  color: #000;
  font-size: 10px;
  opacity: 0.2;
}

.footer-form-input:-moz-placeholder {
    /* Firefox 18- */
  color: #000;
  font-size: 10px;
  opacity: 0.2;
}

@media screen and (max-width: 550px) {
  .footer-form-input {
    min-width: 250px;
    max-width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .footer-form-input {
    min-width: auto;
  }
}

.footer-form-input-img {
  padding: 14px 26px;
}

@media screen and (max-width: 550px) {
  .footer-form-input-img {
    padding: 10px 20px;
  }
}

.footer-form-input-img-bg-main {
  background-color: #fe8a02;
}

.footer-copyright {
  padding: 100px 0;
}

@media screen and (max-width: 1100px) {
  .footer-copyright {
    padding: 50px 0;
  }
}

@media screen and (max-width: 550px) {
  .footer-copyright {
    font-size: 12px;
    text-align: center;
  }
}

/*# sourceMappingURL=../../sass */