.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.d-flex {
  display: flex;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.column {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  padding: 0 15px;
}

.column-6 {
  flex-basis: 50%;
  flex-grow: 0;
  flex-shrink: 0;
  max-width: 50%;
  padding: 0 15px;
}

.column-4 {
  flex-basis: 33.33333%;
  flex-grow: 0;
  flex-shrink: 0;
  max-width: 33.33333%;
  padding: 0 15px;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.mb-05 {
  margin-bottom: 0.5rem;
}

.mb-1 {
  margin-bottom: 16px;
}

.mt-05 {
  margin-top: 8px;
}

.mt-06 {
  margin-top: 14px;
}

.ma-0 {
  margin: 0;
}

.mt-1 {
  margin-top: 16px;
}

.py-2 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.link {
  color: #1085c5;
  text-decoration: underline;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.background-brown {
  background-color: #b09a81;
}

.background-after-brown::after {
  background-color: #b09a81;
}

.background-after-white::after {
  background-color: #f5f4f0;
}

.background-white {
  background-color: #fff;
}

.order-prev {
  order: -1;
}

.order-next {
  order: 1;
}

@font-face {
  font-weight: 400;
  font-family: 'Open Sans Normal';
  font-style: normal;
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Open Sans Bold';
  font-style: normal;
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Neucha';
  font-style: normal;
  src: url("../fonts/Neucha-Regular.ttf") format("truetype");
}

h1,
h2,
h3 {
  margin: 0;

  font-weight: 400;
  font-family: 'Neucha', sans-serif;
}

h1 {
  font-size: 72px;
  line-height: 86.4px;
}

@media screen and (max-width: 550px) {
  h1 {
    font-size: 40px;
  }
}

h2 {
  color: #fe8a02;
  font-size: 60px;
  line-height: 66px;
}

@media screen and (max-width: 550px) {
  h2 {
    font-size: 35px;
  }
}

h3 {
  font-size: 34px;
  line-height: 40.8px;
}

@media screen and (max-width: 550px) {
  h3 {
    font-size: 20px;
  }
}

.subtitle {
  font-size: 24px;
  line-height: 28.8px;
}

.font-open-sans {
  font-family: 'Open Sans Normal', sans-serif;
}

.font-open-sans-bold {
  font-family: 'Open Sans Bold', sans-serif;
}

.font-neucha {
  font-family: 'Neucha', serif;
}

.text-white {
  color: #fff;
}

@media screen and (max-width: 550px) {
  .text-white {
    font-size: 12px;
    text-align: center;
  }
}

.text-blue {
  color: #1085c5;
}

.text-brown {
  color: #b09a81;
}

.text-dark {
  color: #2a2626;
}

.text-translucent-white {
  color: #d7ccc0;
}

.text-translucent-dark {
  color: #908d8b;
}

.text-main {
  color: #fe8a02;
}

.fz-09 {
  font-size: 14px;
}

.text-center {
  text-align: center;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-size: 16px;
  font-family: 'Open Sans Normal', sans-serif;
  line-height: 25.6px;
}

html {
  height: 100%;
}

@media screen and (max-width: 1000px) {
  img {
    max-width: 100%;
  }
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.header {
  overflow: hidden;

  background-color: #f5f4f0;
}

.header::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.06;

  content: '';
}

.header-wrapper {
  padding: 100px 0;

  line-height: 1.2;
}

@media screen and (max-width: 1100px) {
  .header-wrapper {
    justify-content: center;
    padding: 50px 15px;
  }
}

.title {
  position: relative;
  z-index: 1;

  margin: 0;

  line-height: 88px;
}

.title-img {
  top: 55px;
  right: -270px;

  height: 525px;
}

@media screen and (max-width: 1100px) {
  .title-img {
    display: none;
  }
}

@media screen and (max-width: 1100px) {
  .title-wrapper {
    justify-content: center;

    text-align: center;
  }
}

.header-description-wrapper {
  margin: 185px -15px 0;
}

@media screen and (max-width: 1100px) {
  .header-description-wrapper {
    margin-top: 100px;
  }
}

@media screen and (max-width: 650px) {
  .header-description-wrapper {
    display: block;
  }
}

.header-description {
  margin: 0;

  color: #2a2626;
  line-height: 25.6px;
}

@media screen and (max-width: 650px) {
  .header-description:nth-child(1) {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 550px) {
  .header-description {
    font-size: 12px;
  }
}

.btn-title {
  max-width: 148px;
  margin-top: 40px;
  padding: 12px 24px;
}

@media screen and (max-width: 650px) {
  .btn-title {
    width: 100%;
  }
}

.btn-orange {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #fe8a02;
}

@media screen and (max-width: 650px) {
  .btn-orange {
    text-align: center;
  }
}

.youtube {
  padding-top: 100px;
}

.youtube-description {
  margin: 27px 0 30px;
}

@media screen and (max-width: 550px) {
  .youtube-description {
    font-size: 12px;
  }
}

.youtube-video {
  top: 98px;

  max-width: 100%;
  height: 569px;
}

.youtube-video-filter {
  width: 919px;
  margin-top: -98px;

  border: 0;
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

@media screen and (max-width: 550px) {
  .youtube-video {
    max-height: 300px;
  }
}

@media screen and (max-width: 1100px) {
  .youtube {
    padding: 0 30px;
  }
}

.youtube-title {
  margin: 0;

  line-height: 72px;
}

.main-menu {
  padding: 194px 165px 100px;
}

.main-menu::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;

  background-color: #42413c;

  content: '';
}

@media screen and (max-width: 1490px) {
  .main-menu {
    padding: 100px 50px;
  }
}

@media screen and (max-width: 860px) {
  .main-menu {
    padding: 100px 0;
  }
}

.card {
  height: 100%;
  padding: 24px;
}

.card-number {
  color: inherit;
  font-size: 64px;
  line-height: 70.5px;
}

.card-title {
  margin-top: 40px;

  color: #fe8a02;
  font-size: 34px;
  line-height: 40.8px;
}

.card-description {
  color: inherit;
  font-size: 16px;
}

@media screen and (max-width: 550px) {
  .card-description {
    font-size: 12px;
  }
}

.card:hover {
  color: #fff;

  background-color: #fe8a02;
}

.card:hover .card-title {
  color: #fff;
}

@media screen and (max-width: 550px) {
  .card {
    height: auto;
  }
}

.card-dark {
  color: #2a2626;
  text-decoration: none;

  background-color: #f5f4f0;
}

.card-main-title {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 550px) {
  .card-main-title {
    height: auto;
  }
}

.card-main-title-transparent {
  font-size: 52px;
  line-height: 1.2;

  background: transparent;
}

@media screen and (max-width: 550px) {
  .card-main-title-transparent {
    font-size: 35px;
  }
}

@media screen and (max-width: 1100px) {
  .section-wrapper {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

.section-description-wrapper {
  margin-top: 20px;
}

@media screen and (max-width: 1100px) {
  .section-description-wrapper {
    margin: 10px -15px 0;
    padding: 0 15px;
  }
}

@media screen and (max-width: 700px) {
  .section-description-wrapper {
    flex-wrap: wrap;
  }
}

.section-description {
  margin: 0;
}

@media screen and (max-width: 700px) {
  .section-description {
    flex: auto;
    padding: 0;
  }
}

@media screen and (max-width: 700px) {
  .section-description:nth-child(1):nth-child(1) {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 550px) {
  .section-description {
    font-size: 12px;
  }
}

.section-desc-typo {
  font-size: 34px;
  line-height: 40.8px;
}

.section-desc {
  margin: 0;

  line-height: 40.8px;
}

@media screen and (max-width: 1100px) {
  .section-desc {
    max-width: none;
  }
}

.section-title-typo {
  line-height: 72px;
}

.section-title {
  margin: 0 0 30px;
}

@media screen and (max-width: 1100px) {
  .section-title {
    margin-bottom: 0;
  }
}

.section-subtitle {
  margin: 0;
}

.section-subtitle-typo {
  font-size: 24px;
  line-height: 28.8px;
}

@media screen and (max-width: 1100px) {
  .section-title-wrapper {
    margin-bottom: 15px;
  }
}

.section-title-container {
  max-width: 502px;
}

@media screen and (max-width: 1100px) {
  .section-title-container {
    margin-top: 30px;

    text-align: center;
  }
}

.section-symptoms {
  margin: 100px 0 0;
  padding: 5px 10px;
}

@media screen and (max-width: 1100px) {
  .section-symptoms {
    margin-top: 100px;
    padding: 4px 15px;
  }
}

@media screen and (max-width: 550px) {
  .section-symptoms {
    font-size: 12px;
  }
}

.section-symptoms-typo {
  font-size: 14px;
  line-height: 16.8px;
  text-transform: uppercase;
}

.section-img {
  max-width: 100%;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.section {
  padding: 100px 0;

  line-height: 25.6px;
}

@media screen and (max-width: 1100px) {
  .section {
    padding: 50px 0;
  }
}

.section::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: '';
}

.section::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;

  content: '';
}

.footer {
  padding: 100px 0 111px;
}

.footer-form-container {
  padding: 38px 55px 40px;
}

@media screen and (max-width: 930px) {
  .footer-form-container {
    justify-content: center;
  }
}

.footer-form-main-dark {
  background-color: #42413c;
}

.footer-question {
  max-width: 393px;
  margin-right: 122px;
}

@media screen and (max-width: 550px) {
  .footer-question {
    text-align: center;
  }
}

.footer-question-white {
  color: #fff;
  font-size: 34px;
  line-height: 40.8px;
}

@media screen and (max-width: 550px) {
  .footer-question-white {
    font-size: 20px;
  }
}

.footer-form-email-white {
  margin-bottom: 9px;

  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 28.8px;
}

@media screen and (max-width: 550px) {
  .footer-form-email-white {
    font-size: 12px;
    text-align: center;
  }
}

.footer-form-input {
  min-width: 399px;
  padding: 10px;

  border: none;
}

@media screen and (max-width: 550px) {
  .footer-form-input {
    font-size: 12px;
  }
}

.footer-form-input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #757575;
  font-size: 13px;

  opacity: 0.2;
}

.footer-form-input::-moz-placeholder {
  /* Firefox 19+ */
  color: #757575;
  font-size: 13px;

  opacity: 0.2;
}

.footer-form-input:-ms-input-placeholder {
  /* IE 10+ */
  color: #757575;
  font-size: 13px;

  opacity: 0.2;
}

.footer-form-input:-moz-placeholder {
  /* Firefox 18- */
  color: #757575;
  font-size: 13px;

  opacity: 0.2;
}

@media screen and (max-width: 550px) {
  .footer-form-input {
    min-width: 250px;
    max-width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .footer-form-input {
    min-width: auto;
  }
}

.btn-send {
  padding: 15px 23px;

  color: white;
  font-size: 20px;

  background-color: #fe8a02;
  border: none;
}

.btn-send::before {
  display: inline-block;
  width: 20px;
  height: 20px;

  background-image: url("../images/send.svg");
  background-repeat: no-repeat;
  background-size: 20px 20px;

  content: '';
}

.footer-form-input-img {
  padding: 15px 21px;
}

@media screen and (max-width: 550px) {
  .footer-form-input-img {
    padding: 10px 20px;
  }
}

.footer-form-input-img-bg-main {
  background-color: #fe8a02;
  border-style: none !important;
  outline: none;
}

.footer-subscribe {
  font-size: 12px;
  font-style: normal;
  line-height: 25px;
}

.footer-material {
  line-height: 25px;
}

.footer-copyright {
  margin-top: 76px;

  line-height: 22.4px;
}

@media screen and (max-width: 1100px) {
  .footer-copyright {
    padding: 50px 0;
  }
}

@media screen and (max-width: 550px) {
  .footer-copyright {
    font-size: 12px;
    text-align: center;
  }
}
